
<div *ngIf="workflow; else models"><!-- if -->
    <br>
    <div class="text-center align-items-center" *ngIf="mymodels"> <strong class="box">Model: {{modelName}}.{{dateModelCreateModels}}</strong></div>
    <br>
    <br>
    <div class="wrapper4" *ngIf="loadImages">
        <div>
            <h3 class="text">{{ 'FirstLayerConvolution.text' | translate}}</h3>
            <img class="drop" width="50%" height="50%"
                src="/users/files/downloadPicturesModelsCNN/{{modelName}}_1.png?username={{currentUser.username}}&modelsname={{modelName}}"
                id="{{modelName}}_1.png" />
        </div>
        <div>
            <h3 class="text">{{ 'SecondLayerConvolution.text' | translate}}</h3>
            <img class="drop" width="50%" height="70%"
                src="/users/files/downloadPicturesModelsCNN/{{modelName}}_2.png?username={{currentUser.username}}&modelsname={{modelName}}"
                id="{{modelName}}_2.png" />
        </div>
        <div>
            <h3 class="text"> {{ 'SingleTestCNN.text' | translate}}</h3>
            <img class="drop" width="50%" height="50%"
                src="/users/files/downloadPicturesModelsCNN/{{modelName}}_3.png?username={{currentUser.username}}&modelsname={{modelName}}"
                id="{{modelName}}_3.png" />
        </div>
        <div>
            <h3 class="text"> {{ 'GroupTestCNN.text' | translate}}</h3>
            <img class="drop" width="50%" height="70%"
                src="/users/files/downloadPicturesModelsCNN/{{modelName}}_4.png?username={{currentUser.username}}&modelsname={{modelName}}"
                id="{{modelName}}_4.png" />
        </div>
        <!-- <div>
            <h3 class="text"> {{ 'EntropyCNN.text' | translate}}</h3>
            <img class="drop" width="50%" height="70%"
                src="/users/files/downloadPicturesModelsCNN/{{modelName}}_plot_diagnostics.png?username={{currentUser.username}}&modelsname={{modelName}}"
                id="{{modelName}}_plot_diagnostics.png" />
        </div> -->
    </div>
     <div>
            <h3 class="text"> {{ 'EntropyCNN.text' | translate}}</h3>
            <img class="drop" width="85%" height="50%"
                src="/users/files/downloadPicturesModelsCNN/{{modelName}}_plot_diagnostics.png?username={{currentUser.username}}&modelsname={{modelName}}"
                id="{{modelName}}_plot_diagnostics.png" />
        </div>
    <div>
        <h3 class="box text-center" style="color: red; margin-top: -10%;"> {{ 'RedTestCNN.text' | translate}}</h3>
    </div>
</div>
<ng-template #models class="box"><!-- else -->
    <br>
	<div class="text-center align-items-center"   *ngIf="mymodels"> <h2 class="text">Model: {{nameModelSaved}}.{{dateModelSaved}}</h2></div>
    <br>
    <br>
    <div class="wrapper4" *ngIf="loadImages">
        <div>
            <h3 class="text">{{ 'FirstLayerConvolution.text' | translate}}</h3>
            <img class="drop" width="50%" height="50%"
                src="/users/files/downloadPicturesModelsCNN/{{nameModelSaved}}.{{dateModelSaved}}_1.png?username={{currentUser.username}}&modelsname={{nameModelSaved}}.{{dateModelSaved}}"
                id="{{nameModelSaved}}.{{dateModelSaved}}_1.png" />
        </div>
        <div>
            <h3 class="text"> {{ 'SecondLayerConvolution.text' | translate}}</h3>
            <img class="drop" width="60%" height="70%"
                src="/users/files/downloadPicturesModelsCNN/{{nameModelSaved}}.{{dateModelSaved}}_2.png?username={{currentUser.username}}&modelsname={{nameModelSaved}}.{{dateModelSaved}}"
                id="{{nameModelSaved}}.{{dateModelSaved}}_2.png" />
        </div>
        
        <div>
            <h3 class="text"> {{ 'SingleTestCNN.text' | translate}}</h3>
            <img class="drop" width="50%" height="50%"
                src="/users/files/downloadPicturesModelsCNN/{{nameModelSaved}}.{{dateModelSaved}}_3.png?username={{currentUser.username}}&modelsname={{nameModelSaved}}.{{dateModelSaved}}"
                id="{{nameModelSaved}}.{{dateModelSaved}}_3.png" />
        </div>
        <div *ngIf="Images == 'NormalImages' || Images == 'SimpleImages'">
            <h3 class="text"> {{ 'GroupTestCNN.text' | translate}}</h3>
            <img class="drop" width="50%" height="70%"
                src="/users/files/downloadPicturesModelsCNN/{{nameModelSaved}}.{{dateModelSaved}}_4.png?username={{currentUser.username}}&modelsname={{nameModelSaved}}.{{dateModelSaved}}"
                id="{{nameModelSaved}}.{{dateModelSaved}}_4.png" />
        </div>
         <!-- <div>
            <h3 class="text"> {{ 'EntropyCNN.text' | translate}}</h3>
            <img class="drop" width="50%" height="70%"
                src="/users/files/downloadPicturesModelsCNN/{{modelName}}_plot_diagnostics.png?username={{currentUser.username}}&modelsname={{modelName}}"
                id="{{modelName}}_plot_diagnostics.png" />
        </div> -->
    </div>
      <div>
            <h3 class="text"> {{ 'EntropyCNN.text' | translate}}</h3>
            <img class="drop" width="85%" height="50%"
                src="/users/files/downloadPicturesModelsCNN/{{modelName}}_plot_diagnostics.png?username={{currentUser.username}}&modelsname={{modelName}}"
                id="{{modelName}}_plot_diagnostics.png" />
        </div>
    <!-- <div>
        <h3 class="box text-center" style="color: red; margin-top: -10%;"> {{ 'RedTestCNN.text' | translate}}</h3>
    </div> -->
    <div class="margincontainer " style="margin-bottom: 5%;">
		<div class="margininputwrapper">
			<h5 class="text text-center" style="margin-top: 5%;"> {{ 'RedTestCNN.text' | translate}}</h5>
		</div>
		<div class="">
			<h5 class="text text-center" style="margin-top: 1%;"> {{ 'Accuracy.text' | translate}}
			<div *ngIf="accuracy < 80; else numberAcc">
				<h6 class="text" style="color: red;"> {{accuracy}} &nbsp; %</h6>
			</div>
			<ng-template #numberAcc>
				<h6 class="text" style="color: green;"> {{accuracy}} &nbsp; %</h6>
			</ng-template></h5>

		</div>
		<div class="">
			<h5 class="text text-center" style="margin-top: 1%;"> {{ 'Loss.text' | translate}}
			<div *ngIf="loss > 20; else numberLoss">
				<h6 class="text" style="color: red;"> {{loss}} &nbsp; %</h6>
			</div>
			<ng-template #numberLoss>
				<h6 class="text" style="color: green;"> {{loss}} &nbsp; %</h6>
			</ng-template></h5>

		</div>
	</div>
</ng-template>
<hr>
<br>
<div *ngIf="workflow; else textmodels" >
    <div class="text-center align-items-center" *ngIf="mymodels"> <h2 class="text">{{ 'TitleTestModelCNN.text' | translate}} {{modelName}}.{{dateModelCreateModels}}</h2></div>
</div>
<ng-template #textmodels> 
    <div class="text-center align-items-center" *ngIf="mymodels"> <h2 class="text">{{ 'TitleTestModelCNN.text' | translate}} {{nameModelSaved}}.{{dateModelSaved}}</h2></div>
</ng-template>
<br>
<br>
<div *ngIf="!viewFiles" class="dropzone" appDnd (fileDropped)="onFileDropped($event)">
	<input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)" />
	<svg xmlns="http://www.w3.org/2000/svg" width="63" height="64" viewBox="0 0 63 64">
		<g fill="#3B454F" fill-rule="nonzero">
			<path
				d="M42.656 15.135a1.953 1.953 0 0 1-1.391-.578L31.5 4.795l-9.765 9.762a1.97 1.97 0 1 1-2.785-2.785L30.106.616a1.97 1.97 0 0 1 2.785 0l11.157 11.156a1.97 1.97 0 0 1-1.392 3.363z" />
			<path
				d="M31.5 36.791a1.97 1.97 0 0 1-1.969-1.969V2.01a1.97 1.97 0 0 1 3.938 0v32.812a1.97 1.97 0 0 1-1.969 1.969z" />
			<path
				d="M55.781 63.041H7.22A7.225 7.225 0 0 1 0 55.822V41.385a4.599 4.599 0 0 1 4.594-4.594h7.234a4.567 4.567 0 0 1 4.402 3.276l2.814 9.382a.658.658 0 0 0 .628.467h23.656a.658.658 0 0 0 .628-.467l2.814-9.385a4.572 4.572 0 0 1 4.402-3.273h7.234A4.599 4.599 0 0 1 63 41.385v14.437a7.225 7.225 0 0 1-7.219 7.219zM4.594 40.729a.656.656 0 0 0-.657.656v14.437a3.286 3.286 0 0 0 3.282 3.282H55.78a3.286 3.286 0 0 0 3.282-3.282V41.385a.656.656 0 0 0-.657-.656h-7.234a.65.65 0 0 0-.628.467L47.73 50.58a4.628 4.628 0 0 1-4.402 3.274H19.672a4.567 4.567 0 0 1-4.402-3.276l-2.814-9.382a.65.65 0 0 0-.628-.467H4.594z" />
		</g>
	</svg>

	<h3>{{ 'DragANDDropCNN.text' | translate}}</h3>
	<!-- <h3>or</h3> -->
	<label for="fileDropRef">{{ 'BrowseFilesCNN.text' | translate}}</label>
</div>
<div *ngIf="viewflex" align="center">
		<img src="assets/images/833.gif"/>
		<hr>
    </div>
    <div align="center" class="files-list">
        <div class="wrapper" align="center">
            <div class="single-file" *ngFor="let file of files; let i = index">
                <div class="file-icon" style="width: 100%; margin: 1%;" [id]="file?.name + '.png'">
                    <div class="container" style="margin-bottom: 5%; width: 99%">
                    <div class="info">
                        <h4 class="name">
                            {{ file?.name }}.png
                        </h4>
                        <p class="size">
                            {{ formatBytes(file?.size) }}
                        </p>
                        <app-progress [progress]="file?.progress"></app-progress>
                       

                    </div>
                    <div class="delete" (click)="deleteFile(i)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18">
                            <path fill="#B1B1B1" fill-rule="nonzero"
                                d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2H3c-1.1 0-2 .9-2 2v10zm3.17-7.83a.996.996 0 0 1 1.41 0L7 9.59l1.42-1.42a.996.996 0 1 1 1.41 1.41L8.41 11l1.42 1.42a.996.996 0 1 1-1.41 1.41L7 12.41l-1.42 1.42a.996.996 0 1 1-1.41-1.41L5.59 11 4.17 9.58a.996.996 0 0 1 0-1.41zM10.5 1L9.79.29C9.61.11 9.35 0 9.09 0H4.91c-.26 0-.52.11-.7.29L3.5 1H1c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1h-2.5z" />
                        </svg>
                    </div>
                </div>
                </div>
            
            </div>
        </div>
    </div>
<hr>
<div  class="container">
		<div  class="container col-3 col-md-1 contenidoButton"  >
			<div>
				<button 
						class="btn btn-secondary btn-lg back"  >
						<a style="color: aliceblue;" [routerLink]="['/mymodels']">
						<i class="fas fa-angle-double-left"></i>{{ 'Back.text' | translate}}
						</a>
				</button>
			</div>
			<div>
				<button 
						
						class="btn btn-secondary btn-lg back" style="background-color: #4A4A4A; width: 200%; ">
						<a style="color: aliceblue;" (click)="deleteModels()" [routerLink]="['/mymodels']">{{ 'DeleteModel.text' | translate}}<i class="fas fa-angle-double-right"></i></a>
				</button>		
			</div>	
		</div>
		<hr>
	</div>