<hr *ngIf="!corrView" >



	<!-- <div *ngIf="gifCorr" align="center">
		<img src="assets/images/833.gif"/>
		<hr>
	</div> -->

<div *ngIf="corrView">
	<hr>
	<mat-tab-group dynamicHeight mat-align-tabs="center" (selectedTabChange)="onTabChanged($event);">
		<mat-tab label="{{ 'Correlation.text' | translate}}  Pearson">
			<div class="container">
			<table *ngIf="csvDataPearsonHeader || csvDataPearson" id="table-PearsonCorr" datatable class="row-border hover">
				<thead>
					<tr>
	
						<th *ngFor="let it of csvDataPearsonHeader ; let j = index">
							{{it}}
						</th>
	
					</tr>
				</thead>
				<tbody style="width: 100%;">
	
					<tr *ngFor="let item of csvDataPearsonBody ; let i = index">
						<td *ngFor="let it of item ; let j = index" >
								{{it}}
						
							
							
	
						</td>
					</tr>
	
				</tbody>
	
			</table>
			</div>
			<div id="chartPearsonCorr" align="center">
							<hr>
							<apx-chart *ngIf="chartArrayPearson"
								[series]="chartArrayPearson"
								[chart]="chartOptionsPearsonCorr.chart"
								[dataLabels]="chartOptionsPearsonCorr.dataLabels"
								[stroke]="chartOptionsPearsonCorr.stroke"
								[plotOptions]="chartOptionsPearsonCorr.plotOptions"
								[xaxis]="chartOptionsPearsonCorr.xaxis"
								[title]="chartOptionsPearsonCorr.title"
							></apx-chart>
					</div>
				
		</mat-tab>
		<mat-tab label="{{ 'Correlation.text' | translate}} Kendall">
			<div class="container">
			<table *ngIf="csvDataKendallHeader || csvDataKendall" datatable id="table-KendallCorr" class="row-border hover" role="alert" width="100%" cellspacing="0">
				<thead >
					<tr>
	
						<th *ngFor="let it of csvDataKendallHeader ; let j = index">
	
	
							{{it}}
	
						</th>
					
					</tr>
				</thead>
				<tbody>
	
					<tr *ngFor="let item of csvDataKendallBody ; let i = index">
						<td *ngFor="let it of item ; let j = index">

							{{it}}
	
						</td>
					</tr>
	
				</tbody>
	
	
			</table>
			</div>
					<div id="chartKendallCorr" align="center">
						<hr>
						<apx-chart *ngIf="kendallCorr"
								[series]="kendallCorr"
								[chart]="chartOptionsKendallCorr.chart"
								[dataLabels]="chartOptionsKendallCorr.dataLabels"
								[stroke]="chartOptionsKendallCorr.stroke"
								[plotOptions]="chartOptionsKendallCorr.plotOptions"
								[xaxis]="chartOptionsKendallCorr.xaxis"
								[title]="chartOptionsKendallCorr.title"
							></apx-chart>
					</div>
	
		</mat-tab>
	
		<mat-tab label="{{ 'Correlation.text' | translate}} Spearman">
			<div class="container">
			<table *ngIf="csvDataSpearmanHeader || csvDataSpearman" datatable id="table-SpearmanCorr" class="row-border hover" role="alert" width="100%" cellspacing="0">
				<thead >
					<tr>
	
						<th *ngFor="let it of csvDataSpearmanHeader ; let j = index">
	
	
							{{it}}
	
						</th>
	
					</tr>
				</thead>
				<tbody>
	
					<tr *ngFor="let item of csvDataSpearmanBody ; let i = index">
						<td *ngFor="let it of item ; let j = index">
							<!-- <div *ngIf="j === 0"> -->
							{{it}}
	
						</td>
					</tr>
	
				</tbody>
	
			</table>
			</div>
			<div id="chartSpearmanCorr" align="center">
				<hr>
				<apx-chart *ngIf="spearmanCorr" 
					[series]="spearmanCorr" 
					[chart]="chartOptionsSpearmanCorr.chart"
					[dataLabels]="chartOptionsSpearmanCorr.dataLabels" 
					[stroke]="chartOptionsSpearmanCorr.stroke" 
					[plotOptions]="chartOptionsSpearmanCorr.plotOptions"
					[xaxis]="chartOptionsSpearmanCorr.xaxis" 
					[title]="chartOptionsSpearmanCorr.title"></apx-chart>
			</div>	
	
			
		</mat-tab>
	</mat-tab-group>
	<hr>
	<div class="container" >
 			<div class="contenido">

				

				
				
						
				
			 </div>
			 <div id="chartArrayHeadMapID" align="center">
							<apx-chart *ngIf="chartArrayHeadMapID"
								[series]="chartArrayHeadMapID"
								[chart]="chartOptionsHeadmapIDCorr.chart"
								[dataLabels]="chartOptionsHeadmapIDCorr.dataLabels"
								[colors]="chartOptionsHeadmapIDCorr.colors"
								[stroke]="chartOptionsHeadmapIDCorr.stroke"
								[plotOptions]="chartOptionsHeadmapIDCorr.plotOptions"
								[xaxis]="chartOptionsHeadmapIDCorr.xaxis"
								[title]="chartOptionsHeadmapIDCorr.title"
							></apx-chart>
					</div>
		</div>	 
</div><!-- card-Correlations -->

<hr>
	<div *ngIf="!corrView" class="container">
		<div  class="container col-3 col-md-1 contenidoButton"  >
			<div>
				<button 
						class="btn btn-secondary btn-lg back"  >
						<a style="color: aliceblue;" [routerLink]="['/unsupervised']">
						<i class="fas fa-angle-double-left"></i>{{ 'Back.text' | translate}}
						</a>
				</button>
			</div>
			<div>
				<button 
						*ngIf="!corrView" 
						class="btn btn-secondary btn-lg back"  style="width: 125%; "
						[disabled]="!buttonCorreWorking" >
						<a style="color: aliceblue; " (click)="runningScriptsMLCorr()">{{ 'Next.text' | translate}}<i class="fas fa-angle-double-right"></i></a>
				</button>		
			</div>	
		</div>
		<hr>
	</div>

	<div *ngIf="gifCorr" align="center">
		<div>
			<img src="assets/images/833.gif"/>
		</div>	
		<div style="margin-top: 0.7%;">
			<app-progressbar *ngIf="loading.loadNumberProgress" [value] = "loading.loadNumberProgress.progress" [state] = "loading.loadNumberProgress.state"></app-progressbar>
		</div>
		<hr>
	</div>


<app-neuronalnetworkcolums-anomalies
							[modelName]="modelName" 
							[uploadedFilesTrain]="uploadedFilesTrain" 
							[uploadedFilesTest]="uploadedFilesTest"
							[selIds]= "sendColumnsID" 
							[anomalyButton] = "anomaly" 
							[dateModelCreateModels] = "dateModelCreateModels"></app-neuronalnetworkcolums-anomalies>



<!-- <button *ngIf="!corrView" class="btn btn-secondary btn-lg" [disabled]="!buttonCorreWorking" style="background-color: #4A4A4A; margin-top: 11px;  float: left;"><a
		style="color: aliceblue;" (click)="runningScriptsMLCorr()">Work the correlation index out</a></button> -->
