numpy>= 1.9.3
scipy>= 0.14.0
seaborn==0.9.1
matplotlib==3.1.3
slam==0.6.0
cython==0.29.2
twine==1.12.1
urllib3==1.24.1
grip==4.5.2
wheel==0.35.1
pandas==1.3.3
statsmodels==0.9.0
fsspec==2022.11.0
patsy==0.5.1
sklearn==0.0
six==1.15.0
sphinx==1.8.3
numpydoc==0.8.0
recommonmark==0.4.0
scikit-learn==0.20.2
requests==2.27.1
tabulate==0.8.2
colorama==0.4.1
future==0.17.1
flask-restful==0.3.9
flask-cors==3.0.10
flask_jsonpify==1.5.0
flask-oidc==1.4.0
jsonlines==1.2.0
jsonpointer==2.0
jsonschema==2.6.0
zipp==3.1.0
pytest-shutil
flask==2.0.3
protobuf==3.13.0
tensorflow==2.3.0
#urllib
datetime
numba
Pillow==8.2.0
opencv-python==4.4.0.46
shap==0.40.0
xgboost==1.5.1
iml==0.6.2
plotly==5.8.2
dash==2.5.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
itsdangerous==2.0.1
nbformat===4.4.0
#keycloak==3.1.3
#python-keycloak==2.6.0
#fastapi-keycloak