.header {
    text-align: center;
}

.header h1 {
    font-family: serif;
    font-size: 38px;
    font-family: 'Times New Roman';
}

.content {
    margin: 100px;
}

.margin25 {
    margin: 25px;
}

.upload {
    cursor: pointer;
}

.h4 {
  border-width:1px;
  border-style:solid;
  border-color:#4A4A4A;
  margin-left: 30%;
}

 em {color:#E05C65; padding-left:10px;}

  form { margin-top: 10px; }
    label { display: block; }
    .form-group { margin-top: 5px; }
    em {color:#E05C65; padding-left:10px;}
    .error input {background-color:#E3C3C5;}


 .contenido {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 150px;
    

}
 em {color:#E05C65; padding-left:10px;}
