<br>
<div class="text-center align-items-center"   *ngIf="mymodels"> <strong>Model: {{modelName}}.{{dateModelCreateModels}}</strong></div>

<br>
<div class="text-center align-items-center"   *ngIf="mymodels"> <h2 class="text">{{ 'DataPlotEx.Text' | translate}}</h2></div>

<br>

<div  style="overflow:auto; width:100%;height:100%;" class="container" *ngIf="mymodels">
		<table *ngIf="withoutQuotesAnomalyesDataHeaders || csvDataDataBody" id="table-Dataregression" datatable class="row-border hover">
			<thead>
				<tr>

					<th *ngFor="let it of withoutQuotesAnomalyesDataHeaders ; let j = index">
					   
					 {{it}}
					  
					</th>

				</tr>
			</thead>
			<tbody style="width: 100%;">

				<tr *ngFor="let item of csvDataDataBodyJustTwentyRows ; let i = index">
					<td *ngFor="let it of item ; let j = index" >
							
							
								{{it}}
						
							

					</td>
				</tr>

			</tbody>
			<tfoot>
						<tr>
							<th *ngFor="let it of withoutQuotesAnomalyesDataHeaders ; let j = index">						
											{{it}}
							</th>	
						</tr>
					</tfoot>

		</table>
		</div>


<!-- <div class="container" > -->
<div class="" id="chart" style="margin-left:32%;">
<apx-chart *ngIf="chartArrayHeadMapPre && rank && chartOptions"
	[series]="chartArrayHeadMapPre"
	[chart]="chartOptions.chart"
	[dataLabels]="chartOptions.dataLabels"
	[colors]="chartOptions.colors"
	[grid]="chartOptions.grid"
	[xaxis]="rank"
	[plotOptions]="chartOptions.plotOptions"
	[title]="chartOptions.title"
	[legend]="chartOptions.legend"
	[yaxis]="chartOptions.yaxis"



></apx-chart>
</div>
<!-- </div> -->
<mat-tab-group dynamicHeight mat-align-tabs="center" (selectedTabChange)="onTabChanged($event,'snake');">
<mat-tab label="{{ 'SnakePlot.Text' | translate}}">
	<div class="container">
		<div class="container" id="chartLine">
			<apx-chart *ngIf="chartArraySnakePre && rankSnake && chartOptionsLine" 
			[series]="chartArraySnakePre"
			[chart]="chartOptionsLine.chart"
			[xaxis]="rankSnake"
			[dataLabels]="chartOptionsLine.dataLabels"
			[grid]="chartOptionsLine.grid"
			[stroke]="chartOptionsLine.stroke" 
			[title]="chartOptionsLine.title"
			[legend]="chartOptionsLine.legend"
			[yaxis]="chartOptionsLine.yaxis"


			></apx-chart>
		</div>
	</div>
</mat-tab>
<hr>
<mat-tab label="{{ 'BarPlot.Text' | translate}}">
	<div class="container">
		<div class="container" id="chartLineBar">
			<apx-chart *ngIf="chartArrayBarRefresh && rankSnake && chartOptionsLineBar" 
			[series]="chartArrayBarRefresh"
			[chart]="chartOptionsLineBar.chart" 
			[xaxis]="rankSnake"
			[dataLabels]="chartOptionsLineBar.dataLabels" 
			[grid]="chartOptionsLineBar.grid"
			[stroke]="chartOptionsLineBar.stroke" 
			[title]="chartOptionsLineBar.title"
			[legend]="chartOptionsLineBar.legend"
			[yaxis]="chartOptionsLineBar.yaxis"


			></apx-chart>
		</div>
	</div>
</mat-tab>
</mat-tab-group>
 <hr>
 
<mat-tab-group dynamicHeight mat-align-tabs="center" (selectedTabChange)="onTabChanged($event,'scatter');" >
<mat-tab label="{{ 'PredictionLabel.Text' | translate}}">
	<div class="container">

		<div id="ScatterCluster">
			<ng-container *ngIf="arraySeriesPCScatter">
				<apx-chart *ngIf="arraySeriesPCScatter && chartScatterCluster" 
					[series]="arraySeriesPCScatter" 
					[chart]="chartScatterCluster.chart"
					[xaxis]="chartScatterCluster.xaxis" 
					[yaxis]="chartScatterCluster.yaxis"
					[title]="chartScatterCluster.title" 
					[colors]="chartScatterCluster.colors"
					[legend]="chartScatterCluster.legend"

					></apx-chart>
			</ng-container>
		</div>
	</div>
</mat-tab>
<hr>
<mat-tab label="{{ 'TrueLabel.Text' | translate}}">
	<div class="container">

		<div id="ScatterTrueLabel">
			<ng-container *ngIf="chartArraySkatterRefreshTrueWardScatter">

				<apx-chart *ngIf="chartArraySkatterRefreshTrueWardScatter && chartScatterTrueLabel" 
					[series]="chartArraySkatterRefreshTrueWardScatter" 
					[chart]="chartScatterTrueLabel.chart"
					[xaxis]="chartScatterTrueLabel.xaxis" 
					[yaxis]="chartScatterTrueLabel.yaxis" 
					[title]="chartScatterTrueLabel.title"
					[colors]="chartScatterTrueLabel.colors"
					[legend]="chartScatterTrueLabel.legend"

					></apx-chart>
			</ng-container>

		</div>

	</div>
</mat-tab>
</mat-tab-group>
<hr>

<div class="box" *ngIf="currentUser.username">
<br>
<div class="text-center align-items-center"   > 
	<h2 class="text">{{ 'ShapExplanation.Text' | translate}}</h2>
</div>
<br>
<br>
<div>
	 <mat-tab-group dynamicHeight mat-align-tabs="center">
		<mat-tab label="Mean SHAP">
			<div>
				<h3 class="text">{{ 'MeanBar.Text' | translate}}</h3>
				<img class="drop" width="50%" height="50%"
					src="/users/files/downloadPicturesShapPlots/Mean_SHAP.png?username={{currentUser.username}}&modelsname={{modelName}}.{{dateModelCreateModels}}"
					id="{{modelName}}.{{dateModelCreateModels}}_Mean_SHAP.png" />
			</div>
		</mat-tab>
		<mat-tab  label="Summary Plot Violin">
			<div>
				<h3 class="text">{{ 'SummaryPlotBarViolin.Text' | translate}}</h3>
				<img class="drop" width="50%" height="50%"
					src="/users/files/downloadPicturesShapPlots/summary_plot_violin.png?username={{currentUser.username}}&modelsname={{modelName}}.{{dateModelCreateModels}}"
					id="{{modelName}}.{{dateModelCreateModels}}_summary_plot_violin.png" />
			</div>
		</mat-tab>
		<mat-tab  label="Summary Plot Dot">
			<div>
				<h3 class="text"> {{ 'SummaryPlotBarDot.Text' | translate}}</h3>
				<button class="drop" (click)="openPopup()" width="60%" height="70%" style="background-color: transparent; border-color: transparent;">
					<img class="drop" width="60%" height="70%"
					src="/users/files/downloadPicturesShapPlots/summary_plot_dot.png?username={{currentUser.username}}&modelsname={{modelName}}.{{dateModelCreateModels}}"
					id="{{modelName}}.{{dateModelCreateModels}}_summary_plot_dot.png" /></button>
					<div
					class="modal"
					tabindex="-1"
					role="dialog"
					[ngStyle]="{'display':displayStyle}">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
						<div class="modal-header align-items-center">
							<h4  class="modal-title w-100 text-center">Dynamic Plot</h4>
						</div>
						<div class="modal-body" id="SummaryPlotBarDot" style="width: auto;" >
							<!-- <div [innerHTML]="inputhtml" style="width: auto;" ></div>  -->
							<iframe [srcdoc]="userSummaryDothtml | sanitizeHtml" width="525" height="650" target="page"></iframe> 
							<!-- <div [innerHTML]="userSummaryDothtml | sanitizeHtml" width="440" height="390" ></div>  -->
							<!-- <a href="/users/files/downloadPicturesShapPlots/summary_plot_dot.html?username={{currentUser.username}}&modelsname={{modelName}}.{{dateModelCreateModels}}" target="_blank" rel="noopener noreferrer">Click here</a> -->
						</div>
						<div class="modal-footer">
							<button align="center" type="button" class="btn btn-secondary btn-lg back center"  style="width: 100%;" 
									(click)="closePopup()">
							Close
							</button>
						</div>
						</div>
					</div>
					</div>
					
			</div>

		</mat-tab>
		<mat-tab  label="Weights">
			<div>
				<h3 class="text"> {{ 'Weight.Text' | translate}}</h3>
				<img class="drop" width="100%" height="100%"
					src="/users/files/downloadPicturesShapPlots/weight.png?username={{currentUser.username}}&modelsname={{modelName}}.{{dateModelCreateModels}}"
					id="{{modelName}}.{{dateModelCreateModels}}_weight.png" alt="img" />
			</div>
		</mat-tab>
		<mat-tab  label="Waterfall">
			<div>
				<h3 class="text"> {{ 'WaterFall.Text' | translate}}</h3>
				<img class="drop" width="50%" height="70%"
					src="/users/files/downloadPicturesShapPlots/waterfall.png?username={{currentUser.username}}&modelsname={{modelName}}.{{dateModelCreateModels}}"
					id="{{modelName}}.{{dateModelCreateModels}}_waterfall.png" />
			</div>
		</mat-tab>
		<mat-tab  label="Heatmap">
			<div>
				<h3 class="text"> {{ 'HeatMap.Text' | translate}}</h3>
				<img class="drop" width="50%" height="50%"
					src="/users/files/downloadPicturesShapPlots/heatmap.png?username={{currentUser.username}}&modelsname={{modelName}}.{{dateModelCreateModels}}"
					id="{{modelName}}.{{dateModelCreateModels}}_heatmap.png" />
			</div>
		</mat-tab>
		<mat-tab  label="Cohort Plot">	
			<div>
				<h3 class="text">{{ 'Legend.Text' | translate}}</h3>
				<img class="drop" width="50%" height="50%"
					src="/users/files/downloadPicturesShapPlots/legend.png?username={{currentUser.username}}&modelsname={{modelName}}.{{dateModelCreateModels}}"
					id="{{modelName}}.{{dateModelCreateModels}}_legend.png" />
			</div>
		</mat-tab>
		<mat-tab  label="Decision Plot by testing rows">
			 <ng-template matTabContent>
					<h3 class="text"> {{ 'Observation.Text' | translate}}</h3>
					<div class="container" *ngIf="barForce" style="margin-left: 20%;">
						<carousel   [images] = "observation"
									[objectFit]="'cover'"
									[cellWidth]="'100%'"
									[height]="1000"
									[width]="1500"
									[autoplay]="true"
									[dots]="true"
									[loop]="true"
									[arrowsOutside]="true">
							</carousel>
					</div>
			</ng-template>

		</mat-tab>
		<mat-tab  label="Decision Plot link Logic ">				<div>
				<h3 class="text"> {{ 'DecisionPlotAll.Text' | translate}}</h3>
				<img class="drop" width="50%" height="70%"
					src="/users/files/downloadPicturesShapPlots/decision_plot_all.png?username={{currentUser.username}}&modelsname={{modelName}}.{{dateModelCreateModels}}"
					id="{{modelName}}.{{dateModelCreateModels}}_decision_plot_all.png" />
			</div>
		</mat-tab>
		<mat-tab  label="Decision plot link Normally">				<div>
				<h3 class="text"> {{ 'DecisionPlotAllN.Text' | translate}}</h3>
				<img class="drop" width="50%" height="70%"
					src="/users/files/downloadPicturesShapPlots/decision_plot_all_n.png?username={{currentUser.username}}&modelsname={{modelName}}.{{dateModelCreateModels}}"
					id="{{modelName}}.{{dateModelCreateModels}}_decision_plot_all_n.png" />
			</div>
		</mat-tab>
		<mat-tab  label="Bar Force Plot">		
			<ng-template matTabContent>		
				<h3 class="text"> {{ 'BarForce.Text' | translate}}</h3>
				<div *ngIf="barForce">
							<carousel   [images] = "barForce"
										[objectFit]="'cover'"
										[cellWidth]="'100%'"
										[height]="600"
										[autoplay]="true"
										[dots]="true"
										[loop]="true"
										[arrowsOutside]="true">
								</carousel>
						</div>
			</ng-template>
		</mat-tab>
		<mat-tab  label="Normal Multiclass">
			<div>
				<h3 class="text"> {{ 'Multiclass.Text' | translate}}</h3>
				<img class="drop" width="80%" height="50%"
					src="/users/files/downloadPicturesShapPlots/Multiclass.png?username={{currentUser.username}}&modelsname={{modelName}}.{{dateModelCreateModels}}"
					id="{{modelName}}.{{dateModelCreateModels}}_Multiclass.png" />
			</div>
		</mat-tab>
		<mat-tab  label="Shap Multiclass">
			<div>
				<h3 class="text"> {{ 'ShapMulticlass.Text' | translate}}</h3>
				<img class="drop" width="50%" height="70%"
					src="/users/files/downloadPicturesShapPlots/Shap_Multiclass.png?username={{currentUser.username}}&modelsname={{modelName}}.{{dateModelCreateModels}}"
					id="{{modelName}}.{{dateModelCreateModels}}_Shap_Multiclass.png" />
			</div>
		</mat-tab>
	</mat-tab-group>

</div>

</div>	<hr>



<div *ngIf="arraySerieTL" class="container">
	<div  class="container col-3 col-md-1 contenidoButton">
		<div  *ngIf="!mymodels">
			<button 
					class="btn btn-secondary btn-lg back"  style="width: 100%; margin-right: 150px">
					<a style="color: aliceblue;" [routerLink]="['/home']" (click)="saveFinish()">
					{{ 'FinishUploadModel.text' | translate}}
					</a>
			</button>
		</div>
		<div>
			<button 
					
					class="btn btn-secondary btn-lg back" style="background-color: #4A4A4A; width: 200%; ">
					<a style="color: aliceblue;" (click)="deleteModels()" [routerLink]="['/home']">{{ 'DeleteModel.text' | translate}}<i class="fas fa-angle-double-right"></i></a>
			</button>		
		</div>	
	</div>
	<hr>
</div>
