  <div class="container" style="margin-top: 100px; margin-bottom: 50px;">
      <h3 align="center" style="color: black;">iHelp Model Trainer</h3>
    <div class="card-body">
            <p align="justify">{{ 'Main1.text' | translate}}<br><br>
            {{ 'Main2.text' | translate}}</p>
            <p align="justify">{{ 'Main3.text' | translate}}
            </p>
            <p align="justify">{{ 'Main4.text' | translate}}
            </p>         				
            <hr>
            <p class="text-info">{{ 'Main5.text' | translate}}</p>
            <p align="justify">{{ 'Main6.text' | translate}}</p>
        
            <hr>
            <p class="text-info">{{ 'Main7.text' | translate}}</p>
            <p align="justify" >{{ 'Main8.text' | translate}}<br>
            {{ 'Main9.text' | translate}}</p>
            
            <hr>
            <p class="text-info">{{ 'Main10.text' | translate}}</p>
            <p align="justify" >{{ 'Main11.text' | translate}}</p>
        
        </div>
</div>

