


<div class="content" role="main">

<mat-tab-group dynamicHeight mat-align-tabs="center" *ngIf="true">
	
	<mat-tab  *ngIf="true" label="Consume Files">
		<div class="col-12">
      <div class="card-container">
    <form enctype="multipart/form-data" [formGroup]="myFormDataset" (ngSubmit)="submitDataset()">

      <div class="form-group">
        <h6 for="dataset">{{ 'PredatorRequirementsDataset.text' | translate}}</h6><em *ngIf="!serverPredator">{{ 'Required.text' | translate}}</em>

        <input
          formControlName="dataset"
          id="dataset"
          type="file"
          class="form-control"
          accept=".csv,.json"
          (change)="onFileChangeDatasest($event)"
        />
        <h6 for="dataset">{{ 'PredatorRequirementsSensor.text' | translate}}</h6><em *ngIf="!serverPredator">{{ 'Required.text' | translate}}</em>

        <input 
          formControlName="machine"
          id="machine"
          type="text"
          class="form-control"
          />

         <h6 for="dataset">{{ 'PredatorRequirementsNumberRow.text' | translate}}</h6><em *ngIf="!serverPredator">{{ 'Required.text' | translate}}</em>

        <input 
          formControlName="numberRows"
          id="numberRows"
          type="text"
          class="form-control"
          />




      </div>

      <button [disabled]="!serverPredator" class="btn btn-primary" type="submit" style="background-color: black;">{{ 'PredatorSubmit.text' | translate}}</button>
      <hr>
    </form>
  </div>

		</div>
  </mat-tab> 
  <mat-tab  *ngIf="true" label="Consume Server Kafka">
		<div class="col-12">
    <div class="card-container">
    <form enctype="multipart/form-data" [formGroup]="myFormDataset" (ngSubmit)="submitServerKafka()">

      <div class="form-group">
        <h6 for="dataset">{{ 'PredatorServerKafka.text' | translate}}</h6><em *ngIf="!serverPredator">{{ 'Required.text' | translate}}</em>

        <input 
          formControlName="server"
          id="server"
          type="text"
          class="form-control"
          />

        <h6 for="dataset">{{ 'PredatorRequirementsSensor.text' | translate}}</h6><em *ngIf="!serverPredator">{{ 'Required.text' | translate}}</em>

        <input 
          formControlName="machine"
          id="machine"
          type="text"
          class="form-control"
          />

         <h6 for="dataset">{{ 'PredatorRequirementsNumberRow.text' | translate}}</h6><em *ngIf="!serverPredator">{{ 'Required.text' | translate}}</em>

        <input 
          formControlName="numberRows"
          id="numberRows"
          type="text"
          class="form-control"
          />


      </div>

      <button [disabled]="!serverPredator" class="btn btn-primary" type="submit" style="background-color: black;" (click)="startDocker()" >{{ 'PredatorSubmit.text' | translate}}</button>
      <hr>
    </form>
  </div>

		</div>
  </mat-tab> 
	

</mat-tab-group>


   
  <hr>

<table>

  <tr>
    <td>
      <iframe id="gra1" width="1250" height="450" frameborder="0"
        [src]="urlPredictOk"></iframe>
    </td>
    <td>
      <iframe id="gra3" width="1250" height="450" frameborder="0"
        [src]="urlSimilarityVariance"></iframe>
    </td>
  </tr>
  <tr>

    <td>
      <iframe id="gra4" width="1250" height="450" frameborder="0"
        [src]="urlSimilarityModelEncounterModel"></iframe>
    </td>
    <td>
      <iframe id="gra5" width="1250" height="450" frameborder="0"
        [src]="urlVarianceStanDesviationMeanSemilarity"></iframe>
    </td>
  </tr>

</table>

<!-- <table *ngIf="myFormDataset.get('machine').value == 'WeldingSensors'"> -->
<table>
  <tr>
    <td>
      <iframe id="gra2" width="1250" height="450" frameborder="0"
        [src]="urlPredicton"></iframe>
    </td>
     <td>
      <iframe id="gra6" width="1250" height="450" frameborder="0"
        [src]="urlAngularVelocity"></iframe>
    </td>
  </tr>
  <tr>
   
     <td>
      <iframe id="gra7" width="1250" height="450" frameborder="0"
        [src]="urlForce"></iframe>
    </td>
     <td>
      <iframe id="gra8" width="1250" height="450" frameborder="0"
        [src]="urlDisplacement"></iframe>
    </td>
  </tr>

</table>



  <!-- Footer -->
  <footer></footer>


</div>
<div *ngIf="true" class="container">
		<div  class="container col-3 col-md-1 contenidoButton"  >
			<div>
				<button 
						class="btn btn-secondary btn-lg back"  >
						<a style="color: aliceblue;" [routerLink]="['/unsupervised']">
						<i class="fas fa-angle-double-left"></i>{{ 'Back.text' | translate}}
						</a>
				</button>
			</div>
		
		</div>
		<hr>
	</div>

<router-outlet></router-outlet>

