<div class="container-fluid col-10" style="margin-left: 15%;">

     

   
    <div class="col-md-10 " style="margin-bottom:8% ; margin-top: 2%;" >
    <!-- card-body -->

            <div class="box" style="margin: 100 auto; width: 98%; margin-top: 100px; ">
            <h2 class="text-center" style="margin-bottom: 2%;">{{ 'NOSupervisedAlgorithms.text' | translate}}</h2>
                <div class="text-center card-deck" id="cardDeck">
                <!-- In the card-deck all the card has the same id ( id="card-algorithm" )because they are showing a -shadow- by the .hover event controlled by a JS function  [ $( "div#card-algorithm" ).hover( ) ]-->
                    
                    
                  
                <main class="container-fluid col-12" style="">    


                    <!--  Neuronal network -->
                    <div id="card-algorithm" (resized)="onResized($event)"
                        class="card align-items-center border border-0 efecto3" style="height: 90%; width: 100%;"
                        data-toggle="tooltip" data-placement="top" title="{{ 'DescriptionNN.text' | translate}}">
                        <div class="box">
                            <img class="card-img-top img-thumbnail rounded border-0" src="assets/images/algorithm-ArtificialNeuronalNetwork.png" style="width:100%" alt="Neuronal network">
                        </div>
                        <div class="card-body">
                        <h4 class="card-title">{{ 'NeuronalNetwork.text' | translate}}</h4>
                        <h6 class="card-text"> {{ 'ValuesPerColumns.text' | translate}}<br/></h6>
                        <a  class="stretched-link" [routerLink]="['/neuronalnetworkcolumns']"></a>
                        </div>
                    </div>
                        
                    <!--  Neuronal network -->
                    <div id="card-algorithm"  (resized)="onResized($event)"
                        class="card align-items-center border border-0 efecto3" style="height: 90%; width: 100%;"
                        data-toggle="tooltip" data-placement="bottom" 
                        title="{{ 'DescriptionNNID.text' | translate}}">
                        <br/>
                         <div class="box">
                            <img class="card-img-top img-thumbnail rounded  border-0" src="assets/images/algorithm-DeepLearning.png" style="width:100%" alt="Clustering">
                        </div>
                        <div class="card-body">
                        <h4 class="card-title">{{ 'NeuronalNetwork.text' | translate}}</h4>
                        <h6 class="card-text"> {{ 'ValuesID.text' | translate}}<br/></h6>
                        <a href="#" class="stretched-link" [routerLink]="['/neuronalnetworkcolumnsid']"></a>
                        </div>
                    </div>
                        
                    <!-- Clustering -->
                    <div id="card-algorithm" (resized)="onResized($event)"
                        class="card align-items-center border border-0 efecto3" style="height: 90%; width: 100%;"
                        data-toggle="tooltip" data-placement="bottom" 
                        title="{{ 'DescriptionClustering.text' | translate}}">
                        <br/>
                        <div class="box">
                            <img class="card-img-top img-thumbnail rounded  border-0" src="assets/images/algorithm-kmeans.png" style="width:100%" alt="Clustering">
                        </div>
                        <div class="card-body">
                        <h4 class="card-title>">{{ 'Clustering.text' | translate}}</h4>
                        <h6 class="card-text"> {{ 'ValuesID.text' | translate}}<br/></h6>
                        <a href="#" class="stretched-link" [routerLink]="['/clustering']"></a>
                        </div>
                    </div>
                        
                   


                    <!-- Predator -->
                    <div id="card-algorithm" (resized)="onResized($event)"
                        class="card align-items-center border border-0 efecto3" style="height: 90%; width: 100%;"
                        data-toggle="tooltip" data-placement="bottom" 
                        title="{{ 'DescriptionPredator.text' | translate}}">
                        <br/>
                        <div class="box">
                            <img class="card-img-top img-thumbnail rounded border-0" src="assets/images/predatorOK.png" style="width:65%" alt="Regression">
                        </div>
                        <div class="card-body">
                        <h4 class="card-title">Predator</h4>
                        <h6 class="card-text"> {{ 'AllValues.text' | translate}} <br/></h6>
                        <a href="#" class="stretched-link" [routerLink]="['/predator']"></a>
                        </div>
                    </div>

                </main>
                    
                        
                </div><!-- card-deck  -->


            
    </div>
    <div   class="container col-5 col-md-2 contenido"  >
			<div>
				<button 
						class="btn btn-secondary btn-lg back"  >
						<a style="color: aliceblue;" [routerLink]="['/home']">{{ 'Back.text' | translate}}</a>
                </button>
			</div>
			
		</div>
</div>
 