ju {
    height: 100%;
    width: 100%;
    margin:0;
}
.hijo {
    width: 100vw;
    height: 100vh;
}
.father {
    background-color: #1A2253;
    min-height: 80px;
    position: relative;
}

.father-nav {
    background-color: #1A2253;
    min-height: 135px;
    position: relative;
}
.children {
    left: 15px;
    margin: 0;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.children_social {
  
    transform: translateY(25%);
}

.iconsSocialmedia {
    font-size: 2rem;
    margin-left: 0.5%;
    color: #4A4A4A;
}

.appComponentJumbotromRed {

    margin: 0.1cm ; 
    background-color: #b0aec3;
    margin-bottom: 0.1cm ; 
    height: 1px;
    min-height: 50px;

}

.appComponentJumbotromGreen {

    margin-left: 0.1cm; 
    background-color: #b0aec3; 
    margin-bottom: 0.1cm ; 
    height: 1px;
    min-height: 50px;

}

.appComponentJumbotromBlue {

    margin-left: 0.2cm;
    margin-right: 0.1cm ;
    background-color: #b0aec3 ;
    margin-bottom: 0.1cm ; 
    height: 1px;
    min-height: 50px;

}
