 <!-- main app container -->
<div class="father-nav">
    
       
            <!-- <alert></alert> -->
        <div class="children">    
            <app-nav-bar ></app-nav-bar>
       </div>
   
</div>
<!-- <div class="jumbotron" style="background-color: #4A4A4A"> -->
 
    <router-outlet></router-outlet>

<div class="father">
  <div class="children">
     <table class="border" style="width: 100%; border-color: white; border: 1px; background-color: #ECEFF1; ">
      <!-- <th style="width: 33%;" >
        <div class=" text-white appComponentJumbotromRed"> -->
         <!-- <div class="text-center invisible" >
            <a href="https://twitter.com/infocatalystuk"><i class="fab fa-twitter iconsSocialmedia " ></i></a>
            <a href="https://www.facebook.com/infocatalystUK"><i class="fab fa-facebook-f iconsSocialmedia" ></i></a>
            <a href="https://es.linkedin.com/company/information-catalyst"><i class="fab fa-linkedin iconsSocialmedia" ></i></a>
            <a href="http://informationcatalyst.com/"><i class="fab fa-youtube iconsSocialmedia" ></i></a>
            <a href="http://informationcatalyst.com/"><i class="fas fa-globe-europe iconsSocialmedia"> </i></a>
         </div> -->
        <!-- </div>
      </th>
      <th style="width: 33%;">
        <div class="  text-white appComponentJumbotromGreen"> -->
          <!-- <div class="visible children_social">
            <a href="https://twitter.com/infocatalystuk"><i class="fab fa-twitter iconsSocialmedia " ></i></a>
            <a href="https://www.facebook.com/infocatalystUK"><i class="fab fa-facebook-f iconsSocialmedia" ></i></a>
            <a href="https://es.linkedin.com/company/information-catalyst"><i class="fab fa-linkedin iconsSocialmedia" ></i></a>
            <a href="http://informationcatalyst.com/"><i class="fab fa-youtube iconsSocialmedia" ></i></a>
            <a href="http://informationcatalyst.com/"><i class="fas fa-globe-europe iconsSocialmedia"> </i></a>
         </div> -->
       
        <!-- </div>
      </th>
      <th style="width: 33%;">
        <div class="  text-white appComponentJumbotromBlue"> -->
          <!-- <div class="text-center invisible" >
            <a href="https://twitter.com/infocatalystuk"><i class="fab fa-twitter iconsSocialmedia " ></i></a>
            <a href="https://www.facebook.com/infocatalystUK"><i class="fab fa-facebook-f iconsSocialmedia" ></i></a>
            <a href="https://es.linkedin.com/company/information-catalyst"><i class="fab fa-linkedin iconsSocialmedia" ></i></a>
            <a href="http://informationcatalyst.com/"><i class="fab fa-youtube iconsSocialmedia" ></i></a>
            <a href="http://informationcatalyst.com/"><i class="fas fa-globe-europe iconsSocialmedia"> </i></a>
         </div> -->
        <!-- </div>
      </th>-->
    </table> 
  </div>
</div>