<hr *ngIf="!corrView" >



	<!-- <div *ngIf="gifCorr" align="center">
		<img src="assets/images/833.gif"/>
		<hr>
	</div> -->

<div *ngIf="csvDataTrainHeader">
	<hr>
	<mat-tab-group dynamicHeight mat-align-tabs="center" (selectedTabChange)="onTabChanged($event);">
		<mat-tab label="{{ 'Train.text' | translate}}">
			<div class="container">
			<table *ngIf="csvDataTrainHeader || csvDataTrainBody" id="table-Train" datatable [dtOptions]="dtOptions" class="row-border hover">
				<thead>
					<tr>
	
						<th *ngFor="let it of csvDataTrainHeader ; let j = index">
							{{it}}
						</th>
	
					</tr>
				</thead>
				<tbody style="width: 100%;">
	
					<tr *ngFor="let item of csvDataTrainBody ; let i = index">
						<td *ngFor="let it of item ; let j = index" >
								<div *ngIf="j==0">
								<input  type="checkbox" [checked]="it.selected" #name value="{{it}}" name="{{it}}" id="{{it}}"
									(change)="OnCheckboxSelect(it, $event)" mdbInput/>&nbsp;{{it}}
								</div>
								<div *ngIf="j!=0">
									{{it}}
								</div>
	
						</td>
					</tr>
	
				</tbody>
	
			</table>
			</div>
			
				
		</mat-tab>
		<mat-tab label="{{ 'Test.text' | translate}}">
			<div class="container">
			<table *ngIf="csvDataTestHeader || csvDataTestBody" datatable id="table-Test" [dtOptions]="dtOptions" class="row-border hover" role="alert" width="100%" cellspacing="0">
				<thead >
					<tr>
	
						<th *ngFor="let it of csvDataTestHeader ; let j = index">

	
							{{it}}
	
						</th>
					
					</tr>
				</thead>
				<tbody>
	
					<tr *ngFor="let item of csvDataTestBody ; let i = index">
						<td *ngFor="let it of item ; let j = index">

							{{it}}
	
						</td>
					</tr>
	
				</tbody>
	
	
			</table>
			</div>
					
	
		</mat-tab>
	
		
	</mat-tab-group>
	<hr>
</div><!-- card-Correlations -->

<hr>
	<div *ngIf="!corrView" class="container">
		<div  class="container col-3 col-md-1 contenidoButton"  >
			<div>
				<button 
						class="btn btn-secondary btn-lg back"  >
						<a style="color: aliceblue;" [routerLink]="['/unsupervised']">
						<i class="fas fa-angle-double-left"></i>{{ 'Back.text' | translate}}
						</a>
				</button>
			</div>
			<div>
				<button 
						*ngIf="!corrView" 
						class="btn btn-secondary btn-lg back" style=" width: 125%; "
						[disabled]="!buttonCorreWorking" >
						<a style="color: aliceblue;" (click)="runningScriptsMLCorrID()">{{ 'Next.text' | translate}}<i class="fas fa-angle-double-right"></i></a>
				</button>		
			</div>	
		</div>
		<hr>
	</div>

	<div *ngIf="gifCorr" align="center">
		<div>
			<img src="assets/images/833.gif"/>
		</div>	
		<div style="margin-top: 0.7%;">
			<app-progressbar *ngIf="loading.loadNumberProgress" [value] = "loading.loadNumberProgress.progress" [state] = "loading.loadNumberProgress.state"></app-progressbar>
		</div>
		<hr>
	</div>

<app-neuronalnetworkingcolumnsid-anomalies *ngIf="nextNeu" 
							[modelName]="modelName" 
							[uploadedFilesTrain]="uploadedFilesTrain" 
							[uploadedFilesTest]="uploadedFilesTest"
							[selIds]= "sendColumnsID" 
							[selectedIdsRows]= "selectedIdsRows"
							[buttonCorreWorking] = "checktable" 
							[dateModelCreateModels] = "dateModelCreateModels"></app-neuronalnetworkingcolumnsid-anomalies>



<!-- <button *ngIf="!corrView" class="btn btn-secondary btn-lg" [disabled]="!buttonCorreWorking" style="background-color: #4A4A4A; margin-top: 11px;  float: left;"><a
		style="color: aliceblue;" (click)="runningScriptsMLCorr()">Work the correlation index out</a></button> -->
