
<div class="container col-md-16 col-md-offset-1 col-15">
<img src="../../assets/images/under_construction.jpg" align="center" style="height: 500px; width: 500px;"> 

<h3><strong>{{ 'Languages.text' | translate}}</strong></h3>

<form>  
  <mat-radio-group aria-labelledby="my-radio-group-label" class="my-radio-group" [(ngModel)]="favoriteLanguage" name="radioButtons">
        <mat-radio-button class="my-radio-button" [value]="'es'" name="opList" (click)="changeLanguageInSettings('es')" id="spanish"> {{ 'spanish.text' | translate}}</mat-radio-button>
        <mat-radio-button class="my-radio-button" [value]="'en'" name="opList" (click)="changeLanguageInSettings('en')" id="english" > {{ 'english.text' | translate}}</mat-radio-button>
  </mat-radio-group>
</form>  
<!-- <div>Your favorite language is: {{favoriteLanguage}}</div> -->