
	<!-- <div *ngIf="gifCorr" align="center">
				<img src="assets/images/833.gif"/>
				<hr>
	</div>
	 -->
	<!-- <div > -->

	<hr *ngIf="corrView">


	<mat-tab-group dynamicHeight mat-align-tabs="center" *ngIf="corrView">
		<mat-tab label="{{ 'TableAnoTrain.text' | translate}} ">
			<div class="container">
			<table *ngIf="withoutQuotesAnomalyesTrainHeaders || chartArrayTrainAnomaliesBody" datatable [dtOptions]="dtOptionsAnomalies" id="table-train-anomalies" class="row-border hover">
				<thead>
					<tr>		
						<th *ngFor="let it of withoutQuotesAnomalyesTrainHeaders ; let j = index" style="width: 150px;">
							{{it}}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of chartArrayTrainAnomaliesBody ; let i = index">
						<td *ngFor="let it of item ; let j = index" style="width: 150px;">
							{{it}}
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>		
						<th *ngFor="let it of withoutQuotesAnomalyesTrainHeaders ; let j = index" style="width: 150px;">
							{{it}}
						</th>
					</tr>
				</tfoot>
		
			</table>
		</div>
		</mat-tab>

		<mat-tab label="{{ 'TableAnoTest.text' | translate}} " >	
			<div class="container">
			<table *ngIf="withoutQuotesAnomalyesTestHeaders || chartArrayTestAnomaliesBody"  datatable [dtOptions]="dtOptionsAnomalies" id="table-test-anomalies"  class="row-border hover" >
				<thead>
					<tr>							
						<th *ngFor="let it of withoutQuotesAnomalyesTestHeaders ; let j = index" style="width: 150px;" >
							{{it}}
						</th>
					</tr>
				</thead>
				<tbody>							
					<tr *ngFor="let item of chartArrayTestAnomaliesBody ; let i = index">
						<td *ngFor="let it of item ; let j = index" style="width: 150px;" >						
							{{it}}										
						</td>
					</tr>								
				</tbody>
				<tfoot>
					<tr>							
						<th *ngFor="let it of withoutQuotesAnomalyesTestHeaders ; let j = index" style="width: 150px;" >
							{{it}}
						</th>
					</tr>
				</tfoot>							
			</table>
			</div>
		</mat-tab>

		<mat-tab label="{{ 'TablePredictionsColumns.text' | translate}}  " >
			<div class="container">
			<table *ngIf="withoutQuotesAnomalyesPredictHeaders || chartArrayPredictionsBody" datatable [dtOptions]="dtOptionsAnomalies" id="table-prediction" class="row-border hover">
				<thead>
					<tr>
						<th *ngFor="let it of withoutQuotesAnomalyesPredictHeaders ; let j = index">
							{{it}}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of chartArrayPredictionsBody ; let i = index">
						<td *ngFor="let it of item ; let j = index" >
							{{it}}
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th *ngFor="let it of withoutQuotesAnomalyesPredictHeaders ; let j = index">
							{{it}}
						</th>
					</tr>
				</tfoot>
			</table>
			</div>
	</mat-tab>

	<mat-tab label="{{ 'TableAnoReconstructed.text' | translate}} ">
		<div class="container">
		<table *ngIf="withoutQuotesAnomalyesMSEHeaders || chartArrayRecostructedErrorBody " datatable [dtOptions]="dtOptionsAnomalies" id="table-mse" class="row-border hover">
			<thead>
				<tr>
					<th *ngFor="let it of withoutQuotesAnomalyesMSEHeaders ; let j = index" style="width: 150px;">
						{{it}}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of chartArrayRecostructedErrorBody ; let i = index">
					<td *ngFor="let it of item ; let j = index" style="width: 150px;">
						{{it}}
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th *ngFor="let it of withoutQuotesAnomalyesMSEHeaders ; let j = index" style="width: 150px;">
						{{it}}
					</th>
				</tr>
			</tfoot>
		</table>
		</div>
	</mat-tab>

</mat-tab-group>

<!-- </div> -->

	<hr *ngIf="!gifCorr && corrView">

		<!-- <button *ngIf="anomalyButton" class="btn btn-secondary btn-lg" style="background-color: #4A4A4A; margin: 10px; float: left;"><a
		style="color: aliceblue;" (click)="runningScriptsMLAnomaly()">Anomaly</a></button> -->

	<div *ngIf="anomalyButton" class="container">
		<div  class="container col-3 col-md-1 contenidoButton"  >
			<div>
				<button 
						class="btn btn-secondary btn-lg back"  >
						<a style="color: aliceblue;" [routerLink]="['/']">
						<i class="fas fa-angle-double-left"></i>{{ 'Back.text' | translate}}
						</a>
				</button>
			</div>
			<div>
				<button 
						class="btn btn-secondary btn-lg back" style="width: 125%; ">
						<a style="color: aliceblue;" (click)="runningScriptsMLAnomaly()">{{ 'Next.text' | translate}}<i class="fas fa-angle-double-right"></i></a>
				</button>		
			</div>	
		</div>
		<hr>
	</div>

	<div *ngIf="gifCorr" align="center">
		<div>
			<img src="assets/images/833.gif"/>
		</div>	
		<div style="margin-top: 0.7%;">
			<app-progressbar *ngIf="loading.loadNumberProgress" [value] = "loading.loadNumberProgress.progress" [state] = "loading.loadNumberProgress.state"></app-progressbar>
		</div>
		<hr>
	</div>
	


<!-- <button *ngIf="predictionButton" class="btn btn-secondary btn-lg" style="background-color: #4A4A4A; margin-top: 27px; float: left;"><a
		style="color: aliceblue;" (click)="viewAll()">Predictions</a></button>
		 -->
	

	<div *ngIf="blobbox">
		<mat-tab-group dynamicHeight mat-align-tabs="center"  (selectedTabChange)="onTabChanged($event);">
			<!-- <div class="contenido"> -->
			<mat-tab label="{{ 'TrainAnoma.text' | translate}}">
				<div class="container">
					<div id="chartTrain">
						<apx-chart *ngIf="chartArrayTrainAnomalies" 
							[series]="chartArrayTrainAnomalies"
							[chart]="chartOptionsTrain.chart" 
							[plotOptions]="chartOptionsTrain.plotOptions"
							[title]="chartOptionsTrain.title">
						</apx-chart>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="{{ 'TestAnoma.text' | translate}}">
				<div class="container">
					<div id="chartTesting">
						<apx-chart *ngIf="chartArrayTestAnomaliesRefresh" 
							[series]="chartArrayTestAnomaliesRefresh"
							[chart]="chartOptionsTesting.chart" 
							[plotOptions]="chartOptionsTesting.plotOptions"
							[title]="chartOptionsTesting.title">
						</apx-chart>
					</div>
				</div>
			</mat-tab>
			<!-- </div> -->
		</mat-tab-group>
	</div>

		<hr *ngIf="blobbox">

		<div id="chartReconst" *ngIf="blobbox" class="container">
			<apx-chart *ngIf="chartArrayRecostructedError"
				[series]="chartArrayRecostructedError"
				[chart]="chartOptionsReconst.chart"
				[xaxis]="chartOptionsReconst.xaxis"
				[stroke]="chartOptionsReconst.stroke"
				[colors]="chartOptionsReconst.colors"
				[dataLabels]="chartOptionsReconst.dataLabels"
				[legend]="chartOptionsReconst.legend"
				[markers]="chartOptionsReconst.markers"
				[grid]="chartOptionsReconst.grid"
				[yaxis]="chartOptionsReconst.yaxis"
				[title]="chartOptionsReconst.title"
			></apx-chart>
		</div>

		<div *ngIf="blobbox" class="container">
			<div  class="container col-3 col-md-1 contenidoButton"  >
				<button 
							class="btn btn-secondary btn-lg back"  style="width: 200%;">
							<a style="color: aliceblue;" [routerLink]="['/home']"  (click)="saveFinish()">
							<i class="fas fa-angle-double-left"></i>{{ 'FinishSave.text' | translate}}
							</a>
				</button>
			</div>
			<hr>
		</div>
			
