


	<div *ngIf="!viewtable" align="center">
		<img src="assets/images/833.gif"/>
		<hr>
	</div>
<div [className]="viewtable ? 'visible' : 'invisible'" align= "center">
	<hr>
	<!-- <mat-tab-group dynamicHeight mat-align-tabs="center" [className]="viewtable ? 'visible' : 'invisible'" (selectedTabChange)="onTabChanged($event);">
		<mat-tab label="{{ 'Clustering.text' | translate}}"> -->
			<div class="" *ngIf="correlationTrainHeaders">
			<em *ngIf="!checktable && !uploadFileDataset">{{ 'RequiredTable.text' | translate}}</em>		
			<table  datatable [dtOptions]="dtOptions" id="table-train" class="row-border hover table-responsive display compact justify-content-center" style="height: 99%; width: 99%;">
				<input  type="checkbox"  (change)="OnCheckboxSelectKmeansChooseIDBuildModelsALL($event)" mdbInput/> <b> {{ 'AllColumnsForTrainModel.Text' | translate}} </b>
				<input  type="checkbox"  id="button_del"  (change)="OnCheckboxSelectKmeansChooseIDBuildModelsDeleteALL($event)" mdbInput/> <b> {{ 'DeleteAllColumns.text' | translate}} </b>
						<tr>
							<!-- <cdk-virtual-scroll-viewport itemSize="correlationTrainHeaders.length()" class="example-viewport"> -->
								<th *ngFor="let it of correlationTrainHeaders  ; let j = index" >
                                   
									<input type="checkbox" [checked]="it.selected" #name value="{{it}}" name="{{it}}" id="{{it}}"
                                                    (change)="OnCheckboxSelectKmeansChooseIDBuildModels(it, $event)" mdbInput/>&nbsp;{{it}}
                                   
								</th>
							<!-- </cdk-virtual-scroll-viewport> -->
						</tr>
						 <thead>
							
							<tr>
									<th *ngFor="let it of correlationTrainHeaders  ; let j = index" >	

									{{it}}
													
									</th>	
							</tr>
							
						</thead>
						<tfoot>
							<tr>
								<th *ngFor="let it of correlationTrainHeaders ; let j = index" >	
														
									<input  type="checkbox" [checked]="it.selected" #name value="{{it}}" name="{{it}}_del" id="{{it}}_del"
													(change)="OnCheckboxSelectDeleteColumns(it, $event)" mdbInput/>&nbsp; delete
								</th>	
							</tr>

						</tfoot>
					</table>
				
            </div>
            

			
				
		<!-- </mat-tab>
	
		
	</mat-tab-group> -->
	<hr>
<!-- card-Correlations -->

              
<hr>

<div *ngIf="checktable && uploadFileDataset">	 
	 <form id="model-kmeans" [formControl]="selected" [formGroup]="reactiveForm"  >
			<div class="container" title="{{ 'TitleKmeans.text' | translate}}">
				<div class="" role="alert"> <!---->
					<h5>
						<h3 class="text-center text-muted">{{ 'DescriptionKmeans.text' | translate}}</h3>
					</h5>
				</div>   
				<div>
				<hr>
						<table style="width:100%" class="table-responsive row d-flex justify-content-center">
							<tr>
								<td>
								<div class="form-group col-12 col-md-offset-2" >
									<label for="split"
		            	       			class="text-info">
                                       <strong style="color: black;">{{ 'SklearnClusteringRandomState.text' | translate}}</strong></label>&nbsp;
                                       <em *ngIf="randomState == null">{{ 'Required.text' | translate}} &nbsp;</em><br>
									<input matInput type="text" [(ngModel)]="randomState" class ="" list="items-RandomState" required  id="randomState" name="randomState" formControlName="randomState"
									title="{{ 'SklearnClusteringRandomStateTitle.text' | translate}}"> 
									<datalist id="items-RandomState"> 
										<option value="42"></option>
										<option value="43"></option>
										<option value="44"></option>
										<option value="45"></option>
										<option value="46"></option>
										<option value="47"></option>
										<option value="48"></option>
										<option value="49"></option>
									</datalist>
							</div>
							</td>
							<td>
								<div class="form-group col-12 col-md-offset-2" >
									<label for="seed"
		            	       			class="text-info">
									   <strong style="color: black;">{{ 'SklearnnInit.text' | translate}}</strong></label>&nbsp;
									   <em *ngIf="nInit == null">{{ 'Required.text' | translate}} &nbsp; </em><br>
									<input matInput  type="text" [(ngModel)]="nInit" class ="" list="items-nInit" required  id="nInit" name="nInit"  formControlName="nInit"
									title="{{ 'SklearnnInitTitle.text' | translate}}"> 
									<datalist id="items-nInit"> 
										<option value="10"></option>
										<option value="20"></option>
										<option value="30"></option>
										<option value="50"></option>
										<option value="100"></option>
										
								</datalist>
							</div>
							</td>
							<td>
								<div class="form-group col-12 col-md-offset-2" >
									<label for="init"
		            	       			class="text-info">
									   <strong style="color: black;">{{ 'KmeansInit.text' | translate}} </strong></label>&nbsp;
									   <em *ngIf="init == null">{{ 'Required.text' | translate}}  &nbsp; </em><br>
									<input matInput  type="text" [(ngModel)]="init" class ="" list="items-init" required  id="init" name="init"   formControlName="init" 
									title="{{ 'KmeansInitTitle.text' | translate}} "> 
									<datalist id="items-init"> 
										<option value="k-means++">K-means++</option>
										<option value="random">Random</option>
								</datalist>
							</div>
							</td>
							<td>
								<div class="form-group col-12 col-md-offset-2">
									<label for="init" class="text-info">
										<strong style="color: black;">{{ 'SklearnBirchAdvancedModel.Text' | translate}}
										</strong></label>&nbsp;
									<em *ngIf="advancedModel == null">{{ 'Required.text' | translate}} &nbsp; </em><br>
									<!-- <input matInput  type="text" [(ngModel)]="advancedModel" class ="" list="items-advancedModel" required  id="advancedModel" name="advancedModel"  formControlName="advancedModel"
									title="{{ 'SklearnBirchAdvancedModelTitle.Text' | translate}} ">  -->
									<select id="items-advancedModel" matInput type="text" [(ngModel)]="advancedModel"
										class="" list="items-advancedModel" required id="advancedModel"
										name="advancedModel" formControlName="advancedModel"
										title="{{ 'AdvancedModelTitle.Text' | translate}} ">
										<option value="True">True</option>
										<option value="False">False</option>
									</select>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group col-12 col-md-offset-2" >
									<label for="max_iteration"
		            	       			class="text-info">
									   <strong style="color: black;">{{ 'KmeansMaxIteration.text' | translate}}</strong></label>&nbsp;
									   <em *ngIf="maxIteration == null">{{ 'Required.text' | translate}} &nbsp; </em><br>
									<input  matInput type="text" [(ngModel)]="maxIteration"  class ="" list="items-max_iteration" required  id="max_iteration" name="max_iteration"  formControlName="max_iteration"
									title="{{ 'KmeansMaxIterationTitle.text' | translate}}"> 
									<datalist id="items-max_iteration"> 
										<option value="200">200</option>
										<option value="300">300</option>
										<option value="400">400</option>
										<option value="500">500</option>
										<!-- <option value="10">10</option>
										<option value="20">20</option>
										<option value="30">30</option>
										<option value="40">40</option> -->
								</datalist>
							</div>
							</td>
							<td>
								<div class="form-group col-12 col-md-offset-2" >
									<label for="cluster_k"
		            	       			class="text-info">
									   <strong style="color: black;">{{ 'KmeansClusters.text' | translate}}</strong></label>&nbsp;
									   <em *ngIf="clusterK == null">{{ 'Required.text' | translate}} &nbsp;</em><br>
									<input matInput  type="text" [(ngModel)]="clusterK" class ="" list="items-cluster_k" required  id="cluster_k" name="cluster_k"  formControlName="cluster_k"
									title="{{ 'KmeansClustersTitle.text' | translate}}"> 
									<datalist id="items-cluster_k"> 
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<!-- <option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option> -->
										
								</datalist>
							</div>
							</td>
							<!-- <td>
								<div class="form-group col-12 col-md-offset-2" >
									<label for="standardize"
		            	       			class="text-info">
									   <strong style="color: black;">{{ 'KmeansStandarize.text' | translate}}</strong></label>&nbsp;
									   <em *ngIf="standardize == null">{{ 'Required.text' | translate}} &nbsp; </em><br>
									<select matInput [(ngModel)]="standardize" class ="" id="standardize"  name="standardize" 
											title="{{ 'KmeansStandarizeTitle.text' | translate}}">
											<option value="True" selected="selected">True</option>
											<option value="False">False</option>
									</select>
							</div>
							</td> -->
							 <td>
                                    <div class="form-group col-12 col-md-offset-2">
                                        <label for="columnDepentVar" class="text-info">
                                            <strong style="color: black;">{{ 'KmeansClassColumn.text' | translate}}</strong></label>&nbsp;
                                        <em *ngIf="classColumn == null">{{ 'Required.text' | translate}} &nbsp; </em><br>
                                        <input matInput [(ngModel)]="classColumn" class="" id="classColumn" name="classColumn" list="items-classColumn" required formControlName="classColumn"
                                            title="{{ 'KmeansClassColumnTitle.text' | translate}}">
                                                <datalist id="items-classColumn" *ngIf="correlationTrainHeaders">
                                                    <div *ngFor="let op of correlationTrainHeaders ; let i = index">
                                                            <option value="{{op}}">{{op}}</option>
                                                    </div>
                                                </datalist>
                                            </div>
                                   
								</td>
								<td>
								<div class="form-group col-12 col-md-offset-2" >
									<label for="valuesNan"
		            	       			class="text-info">
									   <strong style="color: black;">{{ 'ValuesNan.Text' | translate}}</strong></label>&nbsp;
									   <em *ngIf="valuesNan == null">{{ 'Required.text' | translate}} &nbsp; </em><br>
									<select matInput [(ngModel)]="valuesNan" class ="" id="valuesNan"  name="valuesNan" formControlName="valuesNan"
											title="{{ 'ValuesNanTitle.Text' | translate}}">
											<option value="drop">Drop rows</option>
											<option value="with0">Fill With 0</option>
											<option value="with1">Fill With 1</option>
											<option value="mean">Mean</option>
											<option value="median">Median</option>
											<option value="mode">Mode</option>
											<option value="fill">Propagate values forward or backward</option>
											<option value="0.0">Quartile Min</option>
											<option value="0.25">Quartile 25%</option>
											<option value="0.75">Quartile 75%</option>
											<option value="0.100">Quartile Max</option>

											
									</select>
							</div>
							</td>
						</tr>	
					</table>
					<hr>
				</div>
			</div>
			
	</form>
</div>
</div>

    
	<div *ngIf="!corrView" class="container">
		<div  class="container col-3 col-md-1 contenidoButton"  >
			<div>
				<button 
						class="btn btn-secondary btn-lg back"  >
						<a style="color: aliceblue;" [routerLink]="['/clustering']">
						<i class="fas fa-angle-double-left"></i>{{ 'Back.text' | translate}}
						</a>
				</button>
			</div>
			<div>
				<button 
						*ngIf="!corrView" 
						class="btn btn-secondary btn-lg back" style="background-color: #4A4A4A; width: 125%; "
						[disabled]="reactiveForm.invalid" >
						<a style="color: aliceblue;" (click)="runningScriptsMLKmeansEnd()">{{ 'Next.text' | translate}}<i class="fas fa-angle-double-right"></i></a>
				</button>		
			</div>	
		</div>
		<hr>
	</div>

	<div *ngIf="gifCorr" align="center">
		<div>
			<img src="assets/images/833.gif"/>
		</div>	
		<div style="margin-top: 0.7%;">
			<app-progressbar *ngIf="loading.loadNumberProgress" [value] = "loading.loadNumberProgress.progress" [state] = "loading.loadNumberProgress.state"></app-progressbar>
		</div>
		<hr>
	</div>

<div *ngIf="nextNeu" >
	<app-sklearndeploy
						[modelName]="modelName"
						[dateModelCreateModels] = "dateModelCreateModels"
						[classColumn] = "getNameClases()"></app-sklearndeploy>
</div>
