


<hr >

<div style="margin-top: 100px;">

<div class="text-center align-items-center"  > <strong>{{ 'ModelName.text' | translate}} {{modelName}}</strong></div>

<div>
	<hr>
	<mat-tab-group dynamicHeight mat-align-tabs="center" (selectedTabChange)="onTabChangedCorr($event);">
		<mat-tab label="{{ 'CorrelationMatrixPearson.text' | translate}}">
			<div class="container">
			<table *ngIf="csvDataPearsonHeader || csvDataPearson" id="table-PearsonCorr" datatable class="row-border hover">
				<thead>
					<tr>
	
						<th *ngFor="let it of csvDataPearsonHeader ; let j = index">
							{{it}}
						</th>
	
					</tr>
				</thead>
				<tbody style="width: 100%;">
	
					<tr *ngFor="let item of csvDataPearsonBody ; let i = index">
						<td *ngFor="let it of item ; let j = index" >
								{{it}}
						
							
							
	
						</td>
					</tr>
	
				</tbody>
	
			</table>
			</div>
			<div id="chartPearsonCorr" align="center">
							<hr>
							<apx-chart *ngIf="chartArrayPearson"
								[series]="chartArrayPearson"
								[chart]="chartOptionsPearsonCorr.chart"
								[dataLabels]="chartOptionsPearsonCorr.dataLabels"
								[stroke]="chartOptionsPearsonCorr.stroke"
								[plotOptions]="chartOptionsPearsonCorr.plotOptions"
								[xaxis]="chartOptionsPearsonCorr.xaxis"
								[title]="chartOptionsPearsonCorr.title"
							></apx-chart>
					</div>
				
		</mat-tab>
		<mat-tab label="{{ 'CorrelationMatrixKendall.text' | translate}}">
			<div class="container">
			<table *ngIf="csvDataKendallHeader || csvDataKendall" datatable id="table-KendallCorr" class="row-border hover" role="alert" width="100%" cellspacing="0">
				<thead >
					<tr>
	
						<th *ngFor="let it of csvDataKendallHeader ; let j = index">
	
	
							{{it}}
	
						</th>
					
					</tr>
				</thead>
				<tbody>
	
					<tr *ngFor="let item of csvDataKendallBody ; let i = index">
						<td *ngFor="let it of item ; let j = index">

							{{it}}
	
						</td>
					</tr>
	
				</tbody>
	
	
			</table>
			</div>
					<div id="chartKendallCorr" align="center">
						<hr>
						<apx-chart *ngIf="kendallCorr"
								[series]="kendallCorr"
								[chart]="chartOptionsKendallCorr.chart"
								[dataLabels]="chartOptionsKendallCorr.dataLabels"
								[stroke]="chartOptionsKendallCorr.stroke"
								[plotOptions]="chartOptionsKendallCorr.plotOptions"
								[xaxis]="chartOptionsKendallCorr.xaxis"
								[title]="chartOptionsKendallCorr.title"
							></apx-chart>
					</div>
	
		</mat-tab>
	
		<mat-tab label="{{ 'CorrelationMatrixSpearman.text' | translate}}">
			<div class="container">
			<table *ngIf="csvDataSpearmanHeader || csvDataSpearman" datatable id="table-SpearmanCorr" class="row-border hover" role="alert" width="100%" cellspacing="0">
				<thead >
					<tr>
	
						<th *ngFor="let it of csvDataSpearmanHeader ; let j = index">
	
	
							{{it}}
	
						</th>
	
					</tr>
				</thead>
				<tbody>
	
					<tr *ngFor="let item of csvDataSpearmanBody ; let i = index">
						<td *ngFor="let it of item ; let j = index">
							<!-- <div *ngIf="j === 0"> -->
							{{it}}
	
						</td>
					</tr>
	
				</tbody>
	
			</table>
			</div>
			<div id="chartSpearmanCorr" align="center">
				<hr>
				<apx-chart *ngIf="spearmanCorr" 
					[series]="spearmanCorr" 
					[chart]="chartOptionsSpearmanCorr.chart"
					[dataLabels]="chartOptionsSpearmanCorr.dataLabels" 
					[stroke]="chartOptionsSpearmanCorr.stroke" 
					[plotOptions]="chartOptionsSpearmanCorr.plotOptions"
					[xaxis]="chartOptionsSpearmanCorr.xaxis" 
					[title]="chartOptionsSpearmanCorr.title"></apx-chart>
			</div>	
	
			
		</mat-tab>
	</mat-tab-group>
	<hr>
	<div class="container" >
 			<div class="contenido">

				

				
				
						
				
			 </div>
			 <div id="chartArrayHeadMapID" align="center">
							<apx-chart *ngIf="chartArrayHeadMapID"
								[series]="chartArrayHeadMapID"
								[chart]="chartOptionsHeadmapIDCorr.chart"
								[dataLabels]="chartOptionsHeadmapIDCorr.dataLabels"
								[colors]="chartOptionsHeadmapIDCorr.colors"
								[stroke]="chartOptionsHeadmapIDCorr.stroke"
								[plotOptions]="chartOptionsHeadmapIDCorr.plotOptions"
								[xaxis]="chartOptionsHeadmapIDCorr.xaxis"
								[title]="chartOptionsHeadmapIDCorr.title"
							></apx-chart>
					</div>
		</div>	 
</div><!-- card-Correlations -->

<hr>



    


	<mat-tab-group dynamicHeight mat-align-tabs="center">
		<mat-tab label="{{ 'TableAnoTrain.text' | translate}} ">
			<div class="container">
			<table *ngIf="withoutQuotesAnomalyesTrainHeaders || chartArrayTrainAnomaliesBody" datatable [dtOptions]="dtOptionsAnomalies" id="table-train-anomalies" class="row-border hover">
				<thead>
					<tr>		
						<th *ngFor="let it of withoutQuotesAnomalyesTrainHeaders ; let j = index" style="width: 150px;">
							{{it}}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of chartArrayTrainAnomaliesBody ; let i = index">
						<td *ngFor="let it of item ; let j = index" style="width: 150px;">
							{{it}}
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>		
						<th *ngFor="let it of withoutQuotesAnomalyesTrainHeaders ; let j = index" style="width: 150px;">
							{{it}}
						</th>
					</tr>
				</tfoot>
		
			</table>
		</div>
		</mat-tab>

		<mat-tab label="{{ 'TableAnoTest.text' | translate}} " >	
			<div class="container">
			<table *ngIf="withoutQuotesAnomalyesTestHeaders || chartArrayTestAnomaliesBody"  datatable [dtOptions]="dtOptionsAnomalies" id="table-test-anomalies"  class="row-border hover" >
				<thead>
					<tr>							
						<th *ngFor="let it of withoutQuotesAnomalyesTestHeaders ; let j = index" style="width: 150px;" >
							{{it}}
						</th>
					</tr>
				</thead>
				<tbody>							
					<tr *ngFor="let item of chartArrayTestAnomaliesBody ; let i = index">
						<td *ngFor="let it of item ; let j = index" style="width: 150px;" >						
							{{it}}										
						</td>
					</tr>								
				</tbody>
				<tfoot>
					<tr>							
						<th *ngFor="let it of withoutQuotesAnomalyesTestHeaders ; let j = index" style="width: 150px;" >
							{{it}}
						</th>
					</tr>
				</tfoot>							
			</table>
			</div>
		</mat-tab>

		<mat-tab label="{{ 'TablePredictionsColumns.text' | translate}}  " >
			<div class="container">
			<table *ngIf="withoutQuotesAnomalyesPredictHeaders || chartArrayPredictionsBody" datatable [dtOptions]="dtOptionsAnomalies" id="table-prediction" class="row-border hover">
				<thead>
					<tr>
						<th *ngFor="let it of withoutQuotesAnomalyesPredictHeaders ; let j = index">
							{{it}}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of chartArrayPredictionsBody ; let i = index">
						<td *ngFor="let it of item ; let j = index" >
							{{it}}
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th *ngFor="let it of withoutQuotesAnomalyesPredictHeaders ; let j = index">
							{{it}}
						</th>
					</tr>
				</tfoot>
			</table>
			</div>
	</mat-tab>

	<mat-tab label="{{ 'TableAnoReconstructed.text' | translate}} ">
		<div class="container">
		<table *ngIf="withoutQuotesAnomalyesMSEHeaders || chartArrayRecostructedErrorBody " datatable [dtOptions]="dtOptionsAnomalies" id="table-mse" class="row-border hover">
			<thead>
				<tr>
					<th *ngFor="let it of withoutQuotesAnomalyesMSEHeaders ; let j = index" style="width: 150px;">
						{{it}}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of chartArrayRecostructedErrorBody ; let i = index">
					<td *ngFor="let it of item ; let j = index" style="width: 150px;">
						{{it}}
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th *ngFor="let it of withoutQuotesAnomalyesMSEHeaders ; let j = index" style="width: 150px;">
						{{it}}
					</th>
				</tr>
			</tfoot>
		</table>
		</div>
	</mat-tab>

</mat-tab-group>



	<div >
		<mat-tab-group dynamicHeight mat-align-tabs="center"  (selectedTabChange)="onTabChangedAnomalies($event);">
			<mat-tab label="{{ 'TableAnoTrain.text' | translate}} ">
				<div class="container">
					<div id="chartTrain">
						<apx-chart *ngIf="chartArrayTrainAnomalies" 
							[series]="chartArrayTrainAnomalies"
							[chart]="chartOptionsTrain.chart" 
							[plotOptions]="chartOptionsTrain.plotOptions"
							[title]="chartOptionsTrain.title">
						</apx-chart>
					</div>
				</div>
			</mat-tab>
			<mat-tab label="{{ 'TableAnoTest.text' | translate}} ">
				<div class="container">
					<div id="chartTesting">
						<apx-chart *ngIf="chartArrayTestAnomaliesRefresh" 
							[series]="chartArrayTestAnomaliesRefresh"
							[chart]="chartOptionsTesting.chart" 
							[plotOptions]="chartOptionsTesting.plotOptions"
							[title]="chartOptionsTesting.title">
						</apx-chart>
					</div>
				</div>
			</mat-tab>
		</mat-tab-group>
	</div>

		

		<div id="chartReconst"  class="container">
			<apx-chart *ngIf="chartArrayRecostructedError"
				[series]="chartArrayRecostructedError"
				[chart]="chartOptionsReconst.chart"
				[xaxis]="chartOptionsReconst.xaxis"
				[stroke]="chartOptionsReconst.stroke"
				[colors]="chartOptionsReconst.colors"
				[dataLabels]="chartOptionsReconst.dataLabels"
				[legend]="chartOptionsReconst.legend"
				[markers]="chartOptionsReconst.markers"
				[grid]="chartOptionsReconst.grid"
				[yaxis]="chartOptionsReconst.yaxis"
				[title]="chartOptionsReconst.title"
			></apx-chart>
		</div>

	
		<br>
		<br>	

</div>
<div  class="container">
		<div  class="container col-3 col-md-1 contenidoButton"  >
			<div>
				<button 
						class="btn btn-secondary btn-lg back"  >
						<a style="color: aliceblue;" [routerLink]="['/mymodels']">
						<i class="fas fa-angle-double-left"></i>{{ 'Back.text' | translate}}
						</a>
				</button>
			</div>
			<div>
				<button 
						
						class="btn btn-secondary btn-lg back" style="background-color: #4A4A4A; width: 200%; ">
						<a style="color: aliceblue;" (click)="deleteModels()" [routerLink]="['/mymodels']">{{ 'DeleteModel.text' | translate}}<i class="fas fa-angle-double-right"></i></a>
				</button>		
			</div>	
		</div>
		<hr>
	</div>
