


	<div *ngIf="gifCorr" align="center">
		<img src="assets/images/833.gif"/>
		<hr>
	</div>

	<div *ngIf="!viewtable" align="center">
		<img src="assets/images/loading-21.gif" style=" bottom: 5%;" width="10%"/>
	</div>
	<div *ngIf="!viewtable" align="center">
		<span style="color: dodgerblue; font: fantasy;">Loading Table...</span>
	</div>
    
    <div [className]="viewtable ? 'visible' : 'invisible'" align= "center">
	<hr>
	<!-- <mat-tab-group dynamicHeight mat-align-tabs="center"  (selectedTabChange)="onTabChanged($event);"> 
		<mat-tab label="{{ 'GLMRegression.text' | translate}}"> -->
            <label class="text-center">{{ 'GLMRegression.text' | translate}}</label>
			<div class="">
			<em *ngIf="!checktable">{{ 'RequiredTable.text' | translate}}</em>		
			<table  datatable [dtOptions]="dtOptions" id="table-train-glm" class="row-border hover table-responsive display compact" style="height: 99%; width: 99%;">
						<tr>
								<th *ngFor="let it of correlationTrainHeaders ; let j = index" >		
									<input  type="checkbox" [checked]="it.selected" #name value="{{it}}" name="{{it}}" id="{{it}}"
													(change)="OnCheckboxSelectKmeansChooseIDBuildModels(it, $event)" mdbInput/>&nbsp;{{it}}
								</th>
						</tr>
						 <thead>
							
							<tr>
								<th *ngFor="let it of correlationTrainHeaders ; let j = index" >						
								
												{{it}}
								</th>	
							</tr>
							
                        </thead>
                        <tfoot>
							<tr>
								<th *ngFor="let it of correlationTrainHeaders ; let j = index" >	
														
									<input  type="checkbox" [checked]="it.selected" #name value="{{it}}" name="{{it}}_del" id="{{it}}_del"
													(change)="OnCheckboxSelectDeleteColumns(it, $event)" mdbInput/>&nbsp; delete
								</th>	
							</tr>

						</tfoot>
					</table>
            </div>
            

			
				
		<!-- </mat-tab>
	
		
	</mat-tab-group> -->

	<hr>

              
<hr>
<div *ngIf="checktable">
	 <form id="model-kmeans" [formControl]="selected" [formGroup]="reactiveForm">
			<div class="container" title="{{ 'TitleKmeans.text' | translate}}">
				<div class="" role="alert"> <!---->
					<h5>
						<h3 class="text-center text-muted">{{ 'GLMDescription.text' | translate}}</h3>
					</h5>
				</div>   
				<div>
				<hr>
                        <table style="width:100%" class="table row d-flex justify-content-center"> <!--">-->
                            <tr>

                                 <td>
                                    <div class="form-group col-12 col-md-offset-2">
                                      	<label for="family" class="text-info">
			            	       		 <strong style="color: black;">{{ 'GLMFamily.text' | translate}}</strong></label>&nbsp;
                                        <em *ngIf="family == null">{{ 'Required.text' | translate}} &nbsp;</em><br>
                                        <input matInput type="text" [(ngModel)]="family" class="" list="items-family" required id="family" formControlName="family"
                                            name="split" title="{{ 'GLMFamilyTitle.text' | translate}}">
                                            <datalist id="items-family">
                                                <option value="gaussian">Gaussian</option>
                                                <option value="binomial">Binomial</option>
                                                <option value="poisson">Poisson</option>
                                                <option value="gamma">Gamma</option>
                                                <option value="tweedie">Tweedie</option>									
                                                <option value="multinomial">Multinomial</option>
                                                <option value="quasibinomial">Quasibinomial</option>
                                                <option value="ordinal">Ordinal</option>
                                                <option value="negativebinomial">Negative Binomial</option>
                                                
                                            </datalist> 
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group col-12 col-md-offset-2">
                                        <label for="split" class="text-info">
                                            <strong style="color: black;">{{ 'KmeansSplit.text' | translate}}</strong></label>&nbsp;
                                        <em *ngIf="split == null">{{ 'Required.text' | translate}} &nbsp;</em><br>
                                        <input matInput type="text" [(ngModel)]="split" class="" list="items-splits" required id="split" formControlName="split"
                                            name="split" title="{{ 'KmeansSplitTitle.text' | translate}}">
                                        <datalist id="items-splits">
                                            <option value="50,25"></option>
                                            <option value="55,25"></option>
                                            <option value="60,25"></option>
                                            <option value="65,15"></option>
                                            <option value="70,20"></option>
                                            <option value="75,15"></option>
                                            <option value="80,10"></option>
                                            <option value="85,10"></option>
                                        </datalist>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group col-12 col-md-offset-2">
                                        <label for="seed" class="text-info">
                                            <strong style="color: black;">{{ 'KmeansSeed.text' | translate}}</strong></label>&nbsp;
                                        <em *ngIf="seed == null">{{ 'Required.text' | translate}} &nbsp; </em><br>
                                        <input matInput type="text" [(ngModel)]="seed" class="" list="items-seed" required id="seed" name="seed" formControlName="seed"
                                            title="{{ 'KmeansSeedTitle.text' | translate}}">
                                        <datalist id="items-seed">
                                            <option value="2"></option>
                                            <option value="3"></option>
                                            <option value="4"></option>
                                            <option value="5"></option>
                                            <option value="10"></option>
                                            <option value="20"></option>
                                            <option value="30"></option>
                                            <option value="40"></option>
                                        </datalist>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group col-12 col-md-offset-2">
                                        <label for="solver" class="text-info">
                                            <strong style="color: black;">{{ 'GLMSolver.text' | translate}} </strong></label>&nbsp;
                                        <em *ngIf="solver == null">{{ 'Required.text' | translate}} &nbsp; </em><br>
                                        <input matInput type="text" [(ngModel)]="solver" class="" list="items-solver" required id="solver" name="solver" formControlName="solver"
                                            title="{{ 'GLMSolverTitle.text' | translate}} ">
                                        <datalist id="items-solver">
                                            <option value="AUTO">AUTO</option>
                                            <option value="IRLSM">IRLSM</option>
                                            <option value="L_BFGS">L_BFGS</option>
                                            <option value="COORDINATE_DESCENT">COORDINATE_DESCENT</option>
                                            <option value="GRADIENT_DESCENT_LH">GRADIENT_DESCENT_LH</option>
                                            <option value="GRADIENT_DESCENT_SQERR">GRADIENT_DESCENT_SQERR</option>
                                        </datalist>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group col-12 col-md-offset-2">
                                        <label for="max_iteration" class="text-info">
                                            <strong style="color: black;">{{ 'KmeansMaxIteration.text' | translate}}</strong></label>&nbsp;
                                        <em *ngIf="maxIteration == null">{{ 'Required.text' | translate}} &nbsp; </em><br>
                                        <input matInput type="text" [(ngModel)]="maxIteration" class="" list="items-max_iteration" required formControlName="maxIteration"
                                            id="max_iteration" name="max_iteration" title="{{ 'KmeansMaxIterationTitle.text' | translate}}">
                                        <datalist id="items-max_iteration">
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                           
                                        </datalist>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group col-12 col-md-offset-2">
                                        <label for="lamb" class="text-info">
                                            <strong style="color: black;">{{ 'GLMLambda.text' | translate}}</strong></label>&nbsp;
                                        <em *ngIf="lamb == null">{{ 'Required.text' | translate}} &nbsp;</em><br>
                                        <input matInput type="text" [(ngModel)]="lamb" class="" list="items-lamb" required formControlName="lamb"
                                            id="lamb" name="lamb" title="{{ 'GLMLambdaTitle.text' | translate}}">
                                        <datalist id="items-lamb">
                                            <option value="0.1"></option>
                                            <option value="0.01"></option>
                                            <option value="0.001"></option>
                                            <option value="0.0001"></option>
                                            <option value="0.0003"></option>
                                        </datalist>
                                    </div>
                                </td>
                                 <td>
                                    <div class="form-group col-12 col-md-offset-2">
                                        <label for="alpha" class="text-info">
                                            <strong style="color: black;">{{ 'GLMAlpha.text' | translate}}</strong></label>&nbsp;
                                        <em *ngIf="alpha == null">{{ 'Required.text' | translate}} &nbsp; </em><br>
                                        <input matInput [(ngModel)]="alpha" class="" id="alpha" name="alpha" list="items-alpha" required formControlName="alpha"
                                            title="{{ 'GLMAlphaTitle.text' | translate}}">
                                        <datalist id="items-alpha">
                                                <option value="0.1"></option>
                                                <option value="0.25"></option>
                                                <option value="0.50"></option>
                                                <option value="0.95"></option>
                                                <option value="1"></option>
                                                <option value="1.2"></option>
                                                <option value="1.5"></option>
                                                <option value="1.9"></option>
                                        </datalist>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group col-12 col-md-offset-2">
                                        <label for="nfolds" class="text-info">
                                            <strong style="color: black;">{{ 'GLMNfolds.text' | translate}}</strong></label>&nbsp;
                                        <em *ngIf="nfolds == null">{{ 'Required.text' | translate}} &nbsp; </em><br>
                                        <input matInput [(ngModel)]="nfolds" class="" id="nfolds" name="nfolds" list="items-nfolds" required formControlName="nfolds"
                                            title="{{ 'GLMNfoldsTitle.text' | translate}}">
                                        <datalist id="items-nfolds">
                                                <option value="1"></option>
                                                <option value="2"></option>
                                                <option value="3"></option>
                                                <option value="4"></option>
                                                <option value="5"></option>
                                               
                                        </datalist>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                 <td>
                                    <div class="form-group col-12 col-md-offset-2">
                                        <label for="Link" class="text-info">
                                            <strong style="color: black;">{{ 'GLMLink.text' | translate}}</strong></label>&nbsp;
                                        <em *ngIf="link == null">{{ 'Required.text' | translate}} &nbsp;</em><br>
                                        <input matInput type="text" [(ngModel)]="link" class="" list="items-link" required formControlName="link"
                                            id="link" name="link" title="{{ 'GLMLinkTitle.text' | translate}}">
                                        <datalist id="items-link">
                                            <option value="identity" selected="selected">Identity</option>
											<option value="family_default">Family Default</option>
											<option value="logit">Logit</option>
											<option value="log">Log</option>
											<option value="inverse">Inverse</option>
											<option value="tweedie">Tweedie</option>
											<option value="ologit">Ologit</option>
                                        </datalist>
                                    </div>
                                </td>
                                 <td>
                                    <div class="form-group col-12 col-md-offset-2">
                                        <label for="columnDepentVar" class="text-info">
                                            <strong style="color: black;">{{ 'GLMColumnDepentVar.text' | translate}}</strong></label>&nbsp;
                                        <em *ngIf="columnDepentVar == null">{{ 'Required.text' | translate}} &nbsp; </em><br>
                                        <input matInput [(ngModel)]="columnDepentVar" class="" id="columnDepentVar" name="columnDepentVar" list="items-columnDepentVar" required formControlName="columnDepentVar"
                                            title="{{ 'GLMColumnDepentVarTitle.text' | translate}}">
                                                <datalist id="items-columnDepentVar" *ngIf="choseForBuildModelKmeans">
                                                    <div *ngFor="let op of choseForBuildModelKmeans ; let i = index">
                                                            <option value="{{op.id}}">{{op.id}}</option>
                                                    </div>
                                                </datalist>
                                            </div>
                                   
                                </td>
                                
                                 <td>
                                    <div class="form-group col-12 col-md-offset-2">
                                        <label for="ignore" class="text-info">
                                            <strong style="color: black;">{{ 'GLMIgnore.text' | translate}}</strong></label>&nbsp;
                                        <em *ngIf="ignore == null">{{ 'Required.text' | translate}} &nbsp; </em><br>
                                        <select matInput [(ngModel)]="ignore" class="" id="ignore" name="ignore" formControlName="ignore"
                                            title="{{ 'GLMIgnoreTitle.text' | translate}}">
                                            <option value="True" selected="selected">True</option>
                                            <option value="False">False</option>
                                        </select>
                                    </div>
                                </td>
                                 <td>
                                    <div class="form-group col-12 col-md-offset-2">
                                        <label for="lambda-search" class="text-info">
                                            <strong style="color: black;">{{ 'GLMLambdaSearch.text' | translate}}</strong></label>&nbsp;
                                        <em *ngIf="lambdasearch == null">{{ 'Required.text' | translate}} &nbsp; </em><br>
                                        <select matInput [(ngModel)]="lambdasearch" class="" id="lambdasearch" name="lambdasearch" formControlName="lambdasearch"
                                            title="{{ 'GLMLambdaSearchTitle.text' | translate}}">
                                            <option value="True" selected="selected">True</option>
                                            <option value="False">False</option>
                                        </select>
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                
                                 <td>
                                    <div class="form-group col-12 col-md-offset-2">
                                        <label for="keeppred" class="text-info">
                                            <strong style="color: black;">{{ 'GLMKeeppredSearch.text' | translate}}</strong></label>&nbsp;
                                        <em *ngIf="keeppred == null">{{ 'Required.text' | translate}} &nbsp; </em><br>
                                        <select matInput [(ngModel)]="keeppred" class="" id="keeppred" name="keeppred" formControlName="keeppred"
                                            title="{{ 'GLMKeeppredTitle.text' | translate}}">
                                            <option value="True" selected="selected">True</option>
                                            <option value="False">False</option>
                                        </select>
                                    </div>
                                </td>
                                   <td>
                                    <div class="form-group col-12 col-md-offset-2">
                                        <label for="tweedie" class="text-info">
                                            <strong style="color: black;">{{ 'GLMTweedie.text' | translate}}</strong></label>&nbsp;
                                        <em *ngIf="tweedie == null">{{ 'Required.text' | translate}} &nbsp; </em><br>
                                        <select matInput [(ngModel)]="tweedie" class="" id="tweedie" name="tweedie" formControlName="tweedie"
                                            title="{{ 'GLMTweedieTitle.text' | translate}}">
                                            <option value="True" selected="selected">True</option>
                                            <option value="False">False</option>
                                        </select>
                                    </div>
                                </td>
                                   <td>
                                    <div class="form-group col-12 col-md-offset-2">
                                        <label for="standardize" class="text-info">
                                            <strong style="color: black;">{{ 'KmeansStandarize.text' | translate}}</strong></label>&nbsp;
                                        <em *ngIf="standardize == null">{{ 'Required.text' | translate}} &nbsp; </em><br>
                                        <select matInput [(ngModel)]="standardize" class="" id="standardize" name="standardize" formControlName="standardize"
                                            title="{{ 'KmeansStandarizeTitle.text' | translate}}">
                                            <option value="True" selected="selected">True</option>
                                            <option value="False">False</option>
                                        </select>
                                    </div>
                                </td>
                                 <td>
                                    <div class="form-group col-12 col-md-offset-2">
                                        <label for="missing" class="text-info">
                                            <strong style="color: black;">{{ 'GLMMissing.text' | translate}}</strong></label>&nbsp;
                                        <em *ngIf="missing == null">{{ 'Required.text' | translate}} &nbsp; </em><br>
                                        <select matInput [(ngModel)]="missing" class="" id="missing" name="missing" formControlName="missing"
                                            title="{{ 'GLMMissingTitle.text' | translate}}">
                                            <option value="Skip" selected="selected">Skip</option>
                                            <option value="MeanImputation">MeanImputation</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>

                                <td>
								<div class="form-group col-12 col-md-offset-2" >
									<label for="valuesNan"
		            	       			class="text-info">
									   <strong style="color: black;">{{ 'ValuesNan.Text' | translate}}</strong></label>&nbsp;
									   <em *ngIf="valuesNan == null">{{ 'Required.text' | translate}} &nbsp; </em><br>
									<select matInput [(ngModel)]="valuesNan" class ="" id="valuesNan"  name="valuesNan" formControlName="valuesNan"
											title="{{ 'ValuesNanTitle.Text' | translate}}">
											<option value="drop">Drop rows</option>
											<option value="with0">Fill With 0</option>
											<option value="with1">Fill With 1</option>
											<option value="mean">Mean</option>
											<option value="median">Median</option>
											<option value="mode">Mode</option>
											<option value="fill">Propagate values forward or backward</option>
											<option value="0.0">Quartile Min</option>
											<option value="0.25">Quartile 25%</option>
											<option value="0.75">Quartile 75%</option>
											<option value="0.100">Quartile Max</option>
											
									</select>
							</div>
							</td>
                            </tr>
                        </table>
					<hr>
				</div>
			</div>
			
    </form>
</div>
</div>
    
	<div *ngIf="!corrView" class="container">
		<div  class="container col-3 col-md-1 contenidoButton"  >
			<div>
				<button 
						class="btn btn-secondary btn-lg back"  >
						<a style="color: aliceblue;" [routerLink]="['/supervised']">
						<i class="fas fa-angle-double-left"></i>{{ 'Back.text' | translate}}
						</a>
				</button>
			</div>
			<div>
				<button 
						*ngIf="!corrView" 
						class="btn btn-secondary btn-lg back" style="background-color: #4A4A4A; width: 125%; "
                        [disabled]="reactiveForm.invalid" >
						<a style="color: aliceblue;" (click)="runningScriptsMLKmeansEnd()">{{ 'Next.text' | translate}}<i class="fas fa-angle-double-right"></i></a>
				</button>		
			</div>	
		</div>
		<hr>
	</div>

	<div *ngIf="gifCorr" align="center">
		<div>
			<img src="assets/images/833.gif"/>
		</div>	
		<div style="margin-top: 0.7%;">
			<app-progressbar *ngIf="loading.loadNumberProgress" [value] = "loading.loadNumberProgress.progress" [state] = "loading.loadNumberProgress.state"></app-progressbar>
		</div>
		<hr>
	</div>
	
	
	

<div *ngIf="nextNeu" >
	<app-glm-graphics 
						[modelName]="modelName"
						[dateModelCreateModels] = "dateModelCreateModels"
 ></app-glm-graphics>
</div>