
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" >

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%; border-color: white; border: 0px; background-color: #ECEFF1; ">
  <div class="nav-right">
  
  </div>
  <!-- <a class="navbar-brand"> -->
    <img   src="../../assets/images/iHelp-logo-blue-bg-240x240.jpg" width="87" height="67" class="d-inline-block align-top" alt="">
  <!-- </a> -->
   
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="width: auto;" >
    <ul  *ngIf="isLoggedIn" class="navbar-nav mr-auto" style="background-color: #dedede; width: 195px; height: 68px;">
      <li class="nav-item active"  *ngIf="isLoggedIn">
        <a style="font-size: larger; margin-left: 10%; margin-top: 18%;" class="nav-link" [routerLink]="['/']">{{ 'Home.text' | translate}} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item"  *ngIf="isLoggedIn">
        <a style="font-size: larger;" class="nav-link" [routerLink]="['/clustering']">{{ 'NewsModel.text' | translate}}</a>
      </li>
      <li class="nav-item"  *ngIf="isLoggedIn">
        <a style="font-size: larger;" class="nav-link" [routerLink]="['mymodels']">{{ 'MyModels.text' | translate}}</a>
      </li>
     
    </ul>

    
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
     <!-- <ul>
        <h4>Hi {{currentUser.firstName}}!</h4>
                <h4>You're logged in Analytics Product!!</h4>
     </ul> -->
     <!-- <ul>
        <h5 style="margin-left:-15px ;">All registered users:</h5>
        <li *ngFor="let user of users" style="background-color: #dedede;">
            {{user.username}} ({{user.firstName}} {{user.lastName}})
            - <a (click)="deleteUser(user.id)">Delete</a>
        </li>
    </ul> -->
    <!-- <ul>
    <h4><a [routerLink]="['/login']">Logout</a></h4>
    </ul> -->
  </div>
  <div class="navbar-container" id="navbarSupportedContent2">
    <ul class="navbar-nav" style="background-color: #dedede; height: 50px; width: 230px; display: flex; justify-content: space-between; align-items: center;">
        <li class="nav-item dropdown">
            <button class="btn" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: -75%; background-color: #dedede; outline:none;">
                <img style="width: 40%;" src="assets/images/login20.png">
                <div *ngIf="currentUser.username != '' ; else loggedint">
                   <strong > {{currentUser.firstName}} {{currentUser.lastName}} </strong>
                </div>
                <ng-template #loggedint>
                  <strong> Login </strong>
                </ng-template>
            </button>


            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <!-- <button href="#" class="dropdown-item" >&nbsp;&nbsp; DSS</button>

                <div class="dropdown-divider"></div> -->
                <div *ngIf="currentUser.username == ''; else loggedOut">
                    <button (click)="login()" class="dropdown-item" [routerLink]="['/']" >&nbsp;&nbsp;{{ 'SignIn.text' | translate}}</button>
                </div>
                <ng-template #loggedOut>
                    <button (click)="logOut()" class="dropdown-item"  [routerLink]="['/']" >&nbsp;&nbsp;{{ 'SignOut.text' | translate}}</button>
                </ng-template>
            </div>
        </li>

        <ul class="nav-list" style="display: flex; justify-content: flex-end; align-items: center;">
            <li class="nav-item">
                <button [ngClass]="{'active': language == 'es'}" (click)="changeL('es')">
                    <img src="assets/images/spain.png">
                </button>
                <p style="font-size: 8px; color: black;">SPANISH</p>
            </li>
            <li class="nav-item">
                <button [ngClass]="{'active': language == 'en'}" (click)="changeL('en')">
                    <img src="assets/images/uk.png">
                </button>
                <p style="font-size: 8px; color: black;">ENGLISH</p>
            </li>
        </ul>
    </ul>
</div>

</nav>