<div *ngIf="selecClasses" class="row" >
	<div class="col-md-3">
		<div style="position: fixed;">
			<div style="position: fixed ;left: 20; z-index:9999; margin-left: 10%; margin-top: 15%; width: 20%;">
				<div id="container" *ngIf="endRadioCheckBox">
					<!-- style="background-color: rgba(0,0,0,.03) ; border: 1px solid rgba(0,0,0,.125);" -->
					
					<div style="margin-left: -5%;">
						<h6>{{ 'InserClasses1.text' | translate}} {{30 * numberClasses}}{{ 'InserClasses2.text' | translate}} {{numberImages}}</h6>
					</div>
					<div *ngFor="let it of numberchooseRadio ; let j = index" [style.color]="color[j]"  class="row ">
						<div class="col-xs-6 row">
							<div class="col-xs-1">
								<input class="form-control col-xs-6" type="checkbox"  [checked]="it.selected" #name value="{{it}}" name="{{it}}" id="{{it}}"
								(change)="OnCheckboxSelectKmeansChooseIDBuildModels(it, $event)" mdbInput
								style="margin: 2%;" />
							</div>
							<div class="col-xs-1" style="margin-top: -12%; margin-left: 0%;">
								<label style="margin-bottom: 2%;">&nbsp;Class {{it}}</label>
							</div>
							<!-- <span class="input-group-addon"></span> -->
						</div>
						<div class="col-xs-6 row" style="margin-left: 5%">	
							<div class="col-xs-6">
								<input type="text" id="{{it}}_name" class="form-control col-xs-6" style="width: auto;"/>
							</div>  
							<div class="col-xs-1" style="margin-top: -5%; margin-right: -20%;" >
								<label style="margin-bottom: 2%;">&nbsp;&rarr;&nbsp;{{typeClassFiles[j + 1].length - 1}}</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container col-15 col-md-18" id="card-form">
	<div class="col-md-10 col-md-offset-1" style="margin-bottom:8% ; margin-top: 7%;">
		<!-- Form asking for Model-name and the data sets for train & test -->
		<form id="datasetsForm">
			<h3 align="center">{{ 'Regression.text' | translate}}</h3>
			<!-- modelName field: Name used to name the model  that will be generated -->
			<div class="form-group col-12 col-md-offset-2">
				<label for="modelName" class="text-info"> <strong
						style="color: #4A4A4A;">{{ 'NameForMachineLearning.text' | translate}}
					</strong><em *ngIf="modelName == null">{{ 'Required.text' | translate}}</em> </label>
				<input [(ngModel)]="modelName" type="text" class="form-control" id="modelName" name="modelName" value=""
					accept=".csv" placeholder="{{ 'FileNameWithoutExtension.text' | translate}}" required
					data-toggle="tooltip" data-placement="top"
					title="{{ 'FileNameWithoutExtensionTitle.text' | translate}}">
				<small id="modelNameHelp" class="form-text text-muted">
					e.g.: myModel, anomalies, etc.
				</small>
			</div> <!-- ModelName field -->


			<div *ngIf="currentFile" class="progress">
				<div class="progress-bar progress-bar-info progress-bar-striped" style="background-color: #4A4A4A;" role="progressbar"
					attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"
					[ngStyle]="{ width: progress + '%' }">
					{{ progress }}%
				</div>
			</div>
			<div *ngIf="endRadioCheckBox">
				<br>
				<hr>
				<br>
			</div>
			<!-- dataFile field: The filename of the training dataset -->
			<div *ngIf="!endRadioCheckBox" class="form-group col-12 col-md-offset-2">
				<label for="trainFile" class="text-info"> <strong
						style="color: #4A4A4A;">{{ 'PicturesTraining.text' | translate}}</strong>
					<em *ngIf="!inputFileTrain">{{ 'Required.text' | translate}}</em></label>
				<input *ngIf="!endRadioCheckBox" (change)="selectFile($event)" type="file" class="form-control" multiple id="trainFile"
					name="trainFile" value="DLE_testModel" accept=".png,.jpg, jpeg" placeholder="Full/path/to/the/fileName"
					required data-toggle="tooltip" data-placement="top" title="{{ 'SelectCSVTrain.text' | translate}}">
				<small id="trainFilelHelp" class="form-text text-muted">

					<div>
						{{ 'TodownloadTrain.text' | translate}}
					</div>
				</small>

				<button *ngIf="!endRadioCheckBox" class="btn btn-primary btn-lg back" [disabled]="!selectedFiles" (click)="upload()"
					style="margin-top: 1%; margin-left: 80%; background-color: #4A4A4A; width: 20%; height: 62%;">
					{{ 'LoadImagesUI.text' | translate}}
				</button>
			</div> <!-- trainFile field -->
			<br>
			<hr>
			<br>
			<!-- <div class="alert alert-light" role="alert">{{ message }}</div> -->
			<div *ngIf="imagesViewMenu">
				<div class=" ">
					<div *ngIf="!endRadioCheckBox">
						<input type="number" id="member" name="member" value="2" min="2" max="10" class="form-control" >&nbsp; {{ 'NumberImages.text' | translate}}<br />
						<button class="btn btn-primary btn-lg back" id="filldetails" [disabled]="!endRadioCheck"
							(click)="addInputs()"
							style="margin-top: 1%; margin-left: 78%; margin-bottom: 1%; background-color: #4A4A4A; width: 20%; height: 62%; ">{{ 'GenerareClass.text' | translate}}</button>
					</div>

				</div>
				<br>
				<hr>
				<br>
				<div class="container">
					<div class="first" >
						<div class="card-header" align="center" style="background-color: #4A4A4A;"><h4 style="color: azure;">{{ 'ListImagesMenu.text' | translate}}</h4></div>
						<div  class="list">
							<ul *ngFor="let file of fileInfos | async ; let j = index">
								<li>
									<input [disabled]="choseClassCheckBox.length < 1" type="checkbox" [id]="'cb_' + file.name" name="{{ file.name }}"
										(change)="AddTypeFileList($event, file.name)" />
									<label [for]="'cb_' + file.name">
									<img src="http://{{this.host}}:3001/users/files/download/{{ file.name }}?username={{currentUser.username}}&modelsname={{modelName}}.{{pipeDate}}&algorithm=cnn"
											[id]="file.name" />
									</label>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<hr>
				<div *ngIf="endRadioCheckBox && !nextNeu" class="wrapper4">
				<!-- <div  class="wrapper4"> -->

					<em *ngIf="Images == null ">{{ 'Required.text' | translate}} &nbsp;</em><br>
					<div class="margininputwrapper">
						<select matInput [(ngModel)]="Images"  id="Images" name="Images"  class="form-control">
												<option value="SimpleImages" title="">Simple Images</option>
												<option value="NormalImages" title="">Normal Images</option>
												<option value="TransferLearning" title=""> Transfer Learning</option>
						</select> &nbsp;{{ 'typeImages.text' | translate}}
					</div>
					<!-- <div class="margininputwrapper"> 
						<input type="checkbox" [(ngModel)]="simpleImages" id="simple_images" mdbInput/> &nbsp; Simple Images
					</div> -->
					
				</div>
				
				<hr>
				<div *ngIf="endRadioCheckBox && !nextNeu" class="wrapper4">
				<!-- <div  class="wrapper4"> -->

					<div class="margininputwrapper">
						<em *ngIf="BatchNormalization == null">{{ 'Required.text' | translate}} &nbsp;</em><br>
						<select matInput [(ngModel)]="BatchNormalization" id="BatchNormalization" name="BatchNormalization" class="form-control">
												<option value="True" selected="selected">True</option>
												<option value="False">False</option>
						</select> &nbsp; {{ 'BatchNormalization.text' | translate}}
					</div>
					<div class="margininputwrapper" *ngIf="Images == 'NormalImages' || Images == 'TransferLearning'">
						<em *ngIf="featurewiseCenter == null">{{ 'Required.text' | translate}} &nbsp;</em><br>
						<select matInput [(ngModel)]="featurewiseCenter" id="featurewiseCenter" name="featurewiseCenter" class="form-control">
												<option value="True" selected="selected">True</option>
												<option value="False">False</option>
						</select> &nbsp; {{ 'featurewiseCenter.text' | translate}}
					</div>
					<div class="margininputwrapper" *ngIf="Images == 'NormalImages' || Images == 'TransferLearning'">
						<em *ngIf="shuffle == null">{{ 'Required.text' | translate}} &nbsp;</em><br>
						<select matInput [(ngModel)]="shuffle" id="shuffle" name="shuffle" title="{{ 'shuffleTitle.text' | translate}}" class="form-control">
												<option value="True" selected="selected">True</option>
												<option value="False">False</option>
						</select> &nbsp; {{ 'shuffle.text' | translate}}
					</div>
					<div class="margininputwrapper" *ngIf="Images == 'NormalImages' || Images == 'TransferLearning'">
						<em *ngIf="classMode == null">{{ 'Required.text' | translate}} &nbsp;</em><br>
						<select matInput [(ngModel)]="classMode" id="classMode" name="classMode" title="{{ 'classModeTitle.text' | translate}}" class="form-control">
													<option value="binary"> Binary </option>
													<option value="categorical"> Categorical</option>
													<option value="input"> Input</option>
						</select> &nbsp; {{ 'classMode.text' | translate}}
					</div>
					<div class="margininputwrapper" *ngIf="Images == 'NormalImages' || Images == 'TransferLearning'">
						<em *ngIf="colorMode == null">{{ 'Required.text' | translate}} &nbsp;</em><br>
						<select matInput [(ngModel)]="colorMode" id="colorMode" name="colorMode" title="{{ 'colorModeTitle.text' | translate}}" class="form-control">
													<option value="rgb"> RGB </option>
													<option value="grayscale"> Grayscale</option>
						</select> &nbsp; {{ 'colorMode.text' | translate}}
					</div>


					<div class="margininputwrapper" *ngIf="Images == 'NormalImages' || Images == 'TransferLearning'">
						<em *ngIf="learningRate == null">{{ 'Required.text' | translate}} &nbsp;</em><br>
						<select matInput [(ngModel)]="learningRate" id="learningRate" name="learningRate" title="{{ 'learningRateTitle.text' | translate}}" class="form-control">
													<option select value="0.01"> 0.01 - Default</option>
													<option value="0.1"> 0.1 - Aggressive</option>
													<option value="0.001"> 0.001 - Conservative</option>
						</select> &nbsp; {{ 'learningRate.text' | translate}}
					</div>

					<div class="margininputwrapper" *ngIf="Images == 'NormalImages' || Images == 'TransferLearning'">
						<em *ngIf="momentum == null">{{ 'Required.text' | translate}} &nbsp;</em><br>
						<select matInput [(ngModel)]="momentum" id="momentum" name="momentum" title="{{ 'momentumTitle.text' | translate}}" class="form-control">
													<option select value="0.1"> 0.1</option>
													<option value="0.2"> 0.2</option>
													<option value="0.3"> 0.3</option>
													<option value="0.4"> 0.4</option>
													<option value="0.5"> 0.5</option>
													<option value="0.6"> 0.6</option>
													<option value="0.7"> 0.7</option>
													<option value="0.8"> 0.8</option>
													<option value="0.9"> 0.9</option>
													<option value="1.0"> 1</option>
						</select> &nbsp; {{ 'momentum.text' | translate}}
					</div>


					<div class="margininputwrapper" *ngIf="Images == 'NormalImages' || Images == 'TransferLearning'">
						<em *ngIf="lossCompile == null">{{ 'Required.text' | translate}} &nbsp;</em><br>
						<select matInput [(ngModel)]="lossCompile" id="lossCompile" name="lossCompile" title="{{ 'lossCompileTitle.text' | translate}}" class="form-control">
													<option value="sparse_categorical_crossentropy" title="{{ 'sparse_categorical_crossentropyTitle.text' | translate}}">Sparse Categorical Crossentropy</option>
													<option value="binary_crossentropy" title="{{ 'binary_crossentropyTitle.text' | translate}}"> Binary Crossentropy</option>
													<option value="categorical_crossentropy" title="{{ 'categorical_crossentropyTitle.text' | translate}}"> Categorical Crossentropy</option>
													<option value="categorical_hinge" title="{{ 'categorical_hingeTitle.text' | translate}}"> Categorical Hinge</option>
													<option value="cosine_similarity" title="{{ 'cosine_similarityTitle.text' | translate}}"> Cosine Similarity</option>
													<option value="hinge" title="{{ 'hingeTitle.text' | translate}}" > Hinge</option>
													<option value="huber" title="{{ 'huberTitle.text' | translate}}" > Huber</option>
													<option value="kldivergence"  title="{{ 'kldivergenceTitle.text' | translate}}"> KLDivergence</option>
													<option value="log_cosh"  title="{{ 'log_coshTitle.text' | translate}}">LogCosh</option>
													<option select value="loss"  title="{{ 'lossTitle.text' | translate}}"> Loss</option>
													<option value="mean_absolute_error" title="{{ 'mean_absolute_errorTitle.text' | translate}}" > Mean Absolute Error</option>
													<option value="mean_absolute_percentage_error" title="{{ 'mean_absolute_percentage_errorTitle.text' | translate}}" > Mean Absolute Percentage Error</option>
													<option value="mean_squared_error" title="{{ 'mean_squared_errorTitle.text' | translate}}"> Mean Squared Error</option>
													<option value="mean_squared_logarithmic_error" title="{{ 'mean_squared_logarithmic_errorTitle.text' | translate}}"> Mean Squared Logarithmic Error</option>
													<option value="poisson" title="{{ 'poissonTitle.text' | translate}}">Poisson</option>
													<option value="reduction" title="{{ 'reductionTitle.text' | translate}}"> Reduction</option>
													<option value="squaredhinge" title="{{ 'squaredhingeTitle.text' | translate}}"> Squared Hinge</option>
						</select> &nbsp; {{ 'lossCompile.text' | translate}}
					</div>

					<div class="margininputwrapper" *ngIf="Images == 'NormalImages' || Images == 'TransferLearning'">
						<em *ngIf="kernelInitializer == null">{{ 'Required.text' | translate}} &nbsp;</em><br>
						<select matInput [(ngModel)]="kernelInitializer" id="kernelInitializer" name="kernelInitializer" title="{{ 'kernelInitializerTitle.text' | translate}}" class="form-control">
													<option value="constant" title="{{ 'ConstantTitle.text' | translate}}">Constant</option>
													<option value="glorot_normal" title="{{ 'GlorotNormalTitle.text' | translate}}"> Glorot Normal</option>
													<option value="glorot_uniform" title="{{ 'GlorotUniformTitle.text' | translate}}"> Glorot Uniform</option>
													<option select value="he_normal" title="{{ 'HeNormalTitle.text' | translate}}"> He Normal</option>
													<option value="he_uniform" title="{{ 'HeUniformTitle.text' | translate}}"> He Uniform</option>
													<option value="identity" title="{{ 'IdentityTitle.text' | translate}}" > Identity</option>
													<option value="initializer" title="{{ 'InitializerTitle.text' | translate}}" > Initializer</option>
													<option value="Lecun_normal"  title="{{ 'LecunNormalTitle.text' | translate}}"> Lecun Normal</option>
													<option value="lecun_uniform"  title="{{ 'LecunUniformTitle.text' | translate}}">Lecun Uniform</option>
													<option value="ones"  title="{{ 'OnesTitle.text' | translate}}"> Ones</option>
													<option value="orthogonal" title="{{ 'OrthogonalTitle.text' | translate}}" > Orthogonal</option>
													<option value="random_normal" title="{{ 'RandomNormalTitle.text' | translate}}" > Random Normal</option>
													<option value="random_uniform" title="{{ 'RandomUniformTitle.text' | translate}}"> Random Uniform</option>
													<option value="truncated_normal" title="{{ 'TruncatedNormalTitle.text' | translate}}"> Truncated Normal</option>
													<option value="variances_scaling" title="{{ 'VarianceScalingTitle.text' | translate}}">Variance Scaling</option>
													<option value="zeros" title="{{ 'ZerosTitle.text' | translate}}"> Reduction</option>
													
						</select> &nbsp; {{ 'kernelInitializer.text' | translate}}
					</div>






					<div class="margininputwrapper">
						<em *ngIf="batchSize == null">{{ 'Required.text' | translate}} &nbsp;</em><br>
						<select matInput [(ngModel)]="batchSize" id="batchSize" name="batchSize" class="form-control">
													<option value="32"> 32 </option>
													<option value="64"> 64</option>
													<option value="128"> 128</option>
													<option value="256"> 256</option>
													<option value="512"> 512 </option>
						</select> &nbsp; {{ 'batchSize.text' | translate}}
					</div>
					<div class="margininputwrapper">
						<em *ngIf="imgHeight == null">{{ 'Required.text' | translate}} &nbsp;</em><br>
						<select matInput [(ngModel)]="imgHeight" id="imgHeight" name="imgHeight" class="form-control">
													<option value="50"> 50 </option>
													<option value="100"> 100</option>
													<option value="150"> 150</option>
													<option value="200"> 200</option>
													<option value="250"> 250 </option>
													<option value="300"> 500 </option>
						</select> &nbsp; {{ 'imgHeight.text' | translate}}
					</div>
					<div class="margininputwrapper">
						<em *ngIf="imgWidth == null">{{ 'Required.text' | translate}} &nbsp;</em><br>
						<select matInput [(ngModel)]="imgWidth" id="imgWidth" name="imgWidth" class="form-control">
													<option value="50"> 50 </option>
													<option value="100"> 100</option>
													<option value="150"> 150</option>
													<option value="200"> 200</option>
													<option value="250"> 250 </option>
													<option value="300"> 500 </option>
						</select> &nbsp; {{ 'imgWidth.text' | translate}}
					</div>
					<div class="margininputwrapper" *ngIf="Images == 'NormalImages'">
						<em *ngIf="layerConvolution == null ">{{ 'Required.text' | translate}} &nbsp;</em><br>
						<select  class="form-control" type="number" [(ngModel)]="layerConvolution" id="layerConvolution" name="layerConvolution"  matInput (change)= "createArrayForConvolutionLayersInput()">
													<option value="1"> 1 {{ 'Nlayer.text' | translate}} </option>
													<option value="2"> 2 {{ 'Nlayer.text' | translate}}</option>
													<option value="3"> 3 {{ 'Nlayer.text' | translate}}</option>
													<option value="4"> 4 {{ 'Nlayer.text' | translate}}</option>
													<option value="5"> 5 {{ 'Nlayer.text' | translate}}</option>
												    <option value="6"> 6 {{ 'Nlayer.text' | translate}}</option>
						</select>&nbsp; {{ 'layerConvolution.text' | translate}}
						<div *ngIf="layerConvolution">
							<div *ngFor="let layer of densePerLayerConv ; let j = index" >
								<select   class="form-control" [id]="layer +'_layerConvDense'" (change)="getcreateArrayForConvolutionLayersInputDense()">
													<option value="1"> 1 </option>
													<option value="32"> 32 </option>
													<option value="64"> 64</option>
													<option value="128"> 128</option>
													<option value="256"> 256</option>
													<option value="512"> 512 </option>
												
								</select>&nbsp;{{ 'Dense.text' | translate}} {{layer}} &nbsp;
								<select class="form-control" [id]="layer +'_layerConvDropout'" (change)="getcreateArrayForConvolutionLayersInputDropout()">
													<option value="0"> 0% </option>
													<option value="25"> 25% </option>
													<option value="50"> 50%</option>
													<option value="75"> 75%</option>
													<option value="99"> 99%</option>									
								</select>&nbsp; {{ 'Dropout.text' | translate}} {{layer}} &nbsp;
							</div>
						</div>
					</div>
					<!-- <div class="margininputwrapper" *ngIf="Images == 'NormalImages' || Images == 'TransferLearning'">
						<em *ngIf="Dropout == null">{{ 'Required.text' | translate}} &nbsp;</em><br>
						<input  type="number" [(ngModel)]="Dropout" id="Dropout" name="Dropout" value="25" min="25" max="100" matInput/>&nbsp;{{ 'Dropout.text' | translate}}
					</div> -->
					<div class="margininputwrapper" *ngIf="Images == 'SimpleImages' || Images == 'TransferLearning'">
						<em *ngIf="DenseSimple == null">{{ 'Required.text' | translate}} &nbsp;</em><br>
						<input  class="form-control" type="number" [(ngModel)]="DenseSimple" id="Dense" name="Dense" value="256" min="1" max="256" matInput/>&nbsp;{{ 'Dense.text' | translate}}
					</div>	
					<div class="margininputwrapper" *ngIf="Images == 'NormalImages'">
						<em *ngIf="layer == null">{{ 'Required.text' | translate}} &nbsp;</em><br>				
						<select class="form-control" type="number" [(ngModel)]="layer" id="layer" name="layer" matInput  (change)= "createArrayForNeuronalLayersInput()">
													<option value="1"> 1 {{ 'Nlayer.text' | translate}} </option>
													<option value="2"> 2 {{ 'Nlayer.text' | translate}}</option>
													<option value="3"> 3 {{ 'Nlayer.text' | translate}}</option>
													<option value="4"> 4 {{ 'Nlayer.text' | translate}}</option>
													<option value="5"> 5 {{ 'Nlayer.text' | translate}}</option>
													<option value="6"> 6 {{ 'Nlayer.text' | translate}}</option>
													<option value="7"> 7 {{ 'Nlayer.text' | translate}} </option>
													<option value="8"> 8 {{ 'Nlayer.text' | translate}}</option>
													<option value="9"> 9 {{ 'Nlayer.text' | translate}}</option>
													<option value="10"> 10 {{ 'Nlayer.text' | translate}}</option>
													<option value="11"> 11 {{ 'Nlayer.text' | translate}}</option>
												    <option value="12"> 12 {{ 'Nlayer.text' | translate}}</option>
						</select>&nbsp;{{ 'layer.text' | translate}}
						<div *ngIf="layer">
							<div *ngFor="let layer of densePerLayer ; let j = index" >
								<select   class="form-control" [id]="layer +'_layerDense'" (change)="getcreateArrayForNeuronalLayersInputDense()">
													<option value="1"> 1 </option>
													<option value="32"> 32 </option>
													<option value="64"> 64</option>
													<option value="128"> 128</option>
													<option value="256"> 256</option>
													<option value="512"> 512 </option>
								</select>&nbsp;{{ 'Dense.text' | translate}} {{layer}} &nbsp;
								<select class="form-control" [id]="layer +'_layerDropout'" (change)="getcreateArrayForNeuronalLayersInputDropout()">
													<option value="0"> 0% </option>
													<option value="25"> 25% </option>
													<option value="50"> 50%</option>
													<option value="75"> 75%</option>
													<option value="99"> 99%</option>									
								</select>&nbsp; {{ 'Dropout.text' | translate}} {{layer}} &nbsp;
							</div>
						</div>
					</div>
					<div class="margininputwrapper">
						<em *ngIf="epochs == null">{{ 'Required.text' | translate}} &nbsp;</em><br>				
						<input class="form-control" type="number" [(ngModel)]="epochs" id="epochs" name="epochs" value="1" min="1" max="100" matInput/>&nbsp;{{ 'epochs.text' | translate}}
					</div>
					<div class="margininputwrapper" *ngIf="Images == 'NormalImages' || Images == 'TransferLearning'">
						<em *ngIf="seed == null">{{ 'Required.text' | translate}} &nbsp;</em><br>
						<input class="form-control" type="number" [(ngModel)]="seed" id="seed" name="seed" value="1" min="1" max="100" matInput title="{{ 'seedTitle.text' | translate}}"/>&nbsp;{{ 'seed.text' | translate}}
					</div>
					<div class="margininputwrapper">
						<em *ngIf="activation == null">{{ 'Required.text' | translate}} &nbsp;</em><br>
						<select class="form-control" matInput  [(ngModel)]="activation"  required id="activation"
												name="activation" title="{{ 'TiltleAction.text' | translate}}"> 
													<option value="relu">{{ 'relu.text' | translate}} </option>
													<option value="sigmoid">{{ 'sigmoid.text' | translate}}</option>
													<option value="tanh ">{{ 'tanh.text' | translate}}</option>
												    <option value="softmax ">{{ 'softmax.text' | translate}}</option>

						</select> &nbsp;{{ 'activation.text' | translate}}
							
					</div>



				</div>
				<div *ngIf="endRadioCheckBox && !nextNeu" class="container col-5 col-md-2 contenido">
					<div>
						<button class="btn btn-secondary btn-lg back">
							<a style="color: aliceblue;" [routerLink]="['/imagesrecognition']">
								<i class="fas fa-angle-double-left"></i>{{ 'Back.text' | translate}}
							</a>
						</button>
					</div>
					<div>
						<button id="btn-reset" type="reset" class="btn btn-primary btn-lg back">
							{{ 'Reset.text' | translate}}
						</button>
					</div>
					<div>
						<button [disabled]="Images == 'SimpleImages' ?  !choseImages || modelName == null || activation == null  || epochs == null || BatchNormalization == null || imgWidth == null || imgHeight == null || batchSize == null || DenseSimple == null || Images == null : 
						layer == null  || layerConvolution == null || Images == null || !choseImages || kernelInitializer == null || lossCompile == null || learningRate == null || momentum == null || modelName == null || seed == null ||  shuffle == null || colorMode == null || classMode == null || featurewiseCenter == null || activation == null || epochs == null" id="btn-submit" (click)="uploadClasses()"
							class="btn btn-primary btn-lg back"
							style="background-color: #4A4A4A; width: 125%; height: 62%;">
							{{ 'Next.text' | translate}}<i class="fas fa-angle-double-right"></i>
						</button>
					</div>

				</div>

				<div align="center" *ngIf="gifTimer">
						<img src="assets/images/833.gif"/>
				</div>	
			</div>
		</form>
	</div>
	
</div>

<div class="container" *ngIf="loadImages" style="margin-left: 31%;" >
    <br>
    <div class="text-center align-items-center margincontainer" > <strong class="box">Model: {{modelnameDate}}</strong></div>
    <br>
    <br>
    <div class="wrapper3" >
        <div>
            <h6 class="text">{{ 'FirstLayerConvolution.text' | translate}}</h6>
            <img class="drop" width="75%" height="75%"
                src="http://{{this.host}}:3001/users/files/downloadPicturesModelsCNN/{{modelnameDate}}_1.png?username={{currentUser.username}}&modelsname={{modelnameDate}}"
                id="{{modelnameDate}}_1.png" />
        </div>
        <div>
            <h6 class="text">{{ 'SecondLayerConvolution.text' | translate}}</h6>
            <img class="drop" width="75%" height="75%"
                src="http://{{this.host}}:3001/users/files/downloadPicturesModelsCNN/{{modelnameDate}}_2.png?username={{currentUser.username}}&modelsname={{modelnameDate}}"
                id="{{modelnameDate}}_2.png" />
        </div>
        <div>
            <h6 class="text"> {{ 'SingleTestCNN.text' | translate}}</h6>
            <img class="drop" width="75%" height="75%"
                src="http://{{this.host}}:3001/users/files/downloadPicturesModelsCNN/{{modelnameDate}}_3.png?username={{currentUser.username}}&modelsname={{modelnameDate}}"
                id="{{modelnameDate}}_3.png" />
        </div>
        <div *ngIf="Images == 'NormalImages' || Images == 'SimpleImages'">
            <h6 class="text"> {{ 'GroupTestCNN.text' | translate}}</h6>
            <img class="drop" width="75%" height="75%"
                src="http://{{this.host}}:3001/users/files/downloadPicturesModelsCNN/{{modelnameDate}}_4.png?username={{currentUser.username}}&modelsname={{modelnameDate}}"
                id="{{modelnameDate}}_4.png" />
        </div>
	</div>
	<div class="margincontainer " style="margin-bottom: 5%;">
		<div class="margininputwrapper">
			<h5 class="text text-center" style="margin-top: 5%;"> {{ 'RedTestCNN.text' | translate}}</h5>
		</div>
		<div class="">
			<h5 class="text text-center" style="margin-top: 1%;"> {{ 'Accuracy.text' | translate}}
			<div *ngIf="accuracy < 80; else numberAcc">
				<h6 class="text" style="color: red;"> {{accuracy}} &nbsp; %</h6>
			</div>
			<ng-template #numberAcc>
				<h6 class="text" style="color: green;"> {{accuracy}} &nbsp; %</h6>
			</ng-template></h5>

		</div>
		<div class="">
			<h5 class="text text-center" style="margin-top: 1%;"> {{ 'Loss.text' | translate}}
			<div *ngIf="loss > 20; else numberLoss">
				<h6 class="text" style="color: red;"> {{loss}} &nbsp; %</h6>
			</div>
			<ng-template #numberLoss>
				<h6 class="text" style="color: green;"> {{loss}} &nbsp; %</h6>
			</ng-template></h5>

		</div>
		<div class="margininputwrapper">
			<h5 class="text text-center" style="margin-top: 1%;"> {{ 'InformationCNN.text' | translate}}</h5>
			<button id="btn-mymodels" type="models" class="btn btn-primary btn-lg back " [routerLink]="['/mymodels']" align="center" style="margin-left: 45%;  margin-bottom: 2%;">
								{{ 'MyModels.text' | translate}}
							</button>
		</div>
	</div>
</div>

<!-- <app-cnn-model *ngIf="nextNeu"
		[modelName] = "modelnameDate"
		[classes] = "classFilesJSON"
		[layerConvolution] = "layerConvolution"
		[layer]= "layer">
</app-cnn-model> -->
