<div class="container-fluid ">

    <!-- <div class="col-md-6 col-md-offset-3 invisible">
        <div *ngFor="let item of employeeData | keyvalue">
    Key: {{item.key}}

        <div *ngFor="let obj of item.value">
           - {{ obj.id }}
           - {{ obj.name }}
        </div>

    </div>
        <p><a [routerLink]="['/']">Back</a></p>
    </div> -->
    <app-uploadfile></app-uploadfile>
    <!-- <button class="btn btn-secondary btn-lg" style="background-color: #4A4A4A; margin: 10px; float: right;"><a style="color: aliceblue;" (click)="runningScriptsML()" >Accept</a></button> -->
    <!-- <button class="btn btn-secondary btn-lg" style="background-color: #4A4A4A; margin: 0px; float: right;"><a style="color: aliceblue;" [routerLink]="['/']">Back</a></button> -->

</div>
<!-- <app-filelist></app-filelist>
<app-fileuploader></app-fileuploader> -->

<!-- <div class="spinner-border text-danger" style="width: 3rem; height: 3rem;" *ngIf="displayLoader | async" ><span class="sr-only">Loading...</span></div> -->
