<div class="container col-15 col-md-18" id="card-form" style="margin-top: 100px;">
	 <div class="col-md-10 col-md-offset-1" style="margin-bottom:8% ; margin-top: 7%;" >
	<!-- Form asking for Model-name and the data sets for train & test -->
	<form id="datasetsForm" action="/api/upload" method="post" enctype="multipart/form-data">
		<h3 align="center">{{ 'AlgoritmoMLColumnsID.text' | translate}}</h3>
		<!-- modelName field: Name used to name the model  that will be generated -->
		<div class="form-group col-12 col-md-offset-2">
			<label for="modelName" class="text-info"> <strong style="color: #4A4A4A;">{{ 'NameForMachineLearning.text' | translate}}
					</strong><em *ngIf="modelName == null">{{ 'Required.text' | translate}}</em> </label>
			<input [(ngModel)]="modelName" type="text" class="form-control" id="modelName" name="modelName"
				value="" accept=".csv" placeholder="{{ 'FileNameWithoutExtension.text' | translate}}" required
				data-toggle="tooltip" data-placement="top"
				title="{{ 'FileNameWithoutExtensionTitle.text' | translate}}">
			<small id="modelNameHelp" class="form-text text-muted">
				e.g.: myModel, anomalies, tabberMachine_Jun2018, etc.
			</small>
		</div> <!-- ModelName field -->

		<!-- dataFile field: The filename of the training dataset -->
		<div class="form-group col-12 col-md-offset-2">
			<label for="trainFile" class="text-info"> <strong style="color: #4A4A4A;">{{ 'FileTraining.text' | translate}}</strong>
						<em *ngIf="!inputFileTrain">{{ 'Required.text' | translate}}</em></label>
			<input (change)="fileChangeTrain($event)" [(ngModel)]="trainFile" type="file" class="form-control"
				id="trainFile" name="trainFile" value="DLE_testModel" accept=".csv"
				placeholder="Full/path/to/the/fileName.csv" required data-toggle="tooltip" data-placement="top"
				title="{{ 'SelectCSVTrain.text' | translate}}">
			<small id="trainFilelHelp" class="form-text text-muted">
				
				<div>
					 {{ 'TodownloadTrain.text' | translate}}
				</div>
			</small>
		</div> <!-- trainFile field -->

		<!-- The filename of the testing dataset -->
		<div class="form-group col-12 col-md-offset-2">
			
			<label for="testFile" class="text-info">
				<strong style="color: #4A4A4A;">{{ 'FileTesting.text' | translate}}</strong><em *ngIf="!inputFileTest">{{ 'Required.text' | translate}}</em></label>
			<input (change)="fileChangeTest($event)" [(ngModel)]="testFile" type="file" class="form-control"
				id="testFile" name="testFile" accept=".csv" placeholder="Full/path/to/the/fileName.csv"
				data-placement="top" required
				title="{{ 'SelectCSVTest.text' | translate}}">
			<small id="trainFilelHelp" class="form-text text-muted">
				<div>
					{{ 'TodownloadTest.text' | translate}}
				</div>
			</small>
		</div>

		

		<hr>
		<div *ngIf="!nextNeu"  class="container col-5 col-md-2 contenido"  >
			<div>
				<button 
						class="btn btn-secondary btn-lg back"  >
						<a style="color: aliceblue;" [routerLink]="['/unsupervised']">
						<i class="fas fa-angle-double-left"></i>{{ 'Back.text' | translate}}
						</a>
				</button>
			</div>
			<div>
				<button 
						id="btn-reset" 
						type="reset"  
						class="btn btn-primary btn-lg back" >
						{{ 'Reset.text' | translate}}    
				</button>
			</div>
			<div>
				<button 
						[disabled]="!inputFileTest || !inputFileTrain || modelName == null" 
						id="btn-submit" 
						(click)="upload()" 
						class="btn btn-primary btn-lg back" style="background-color: #4A4A4A; width: 125%;"> 
						{{ 'Next.text' | translate}}<i class="fas fa-angle-double-right"></i>
				</button>
			</div>
		
		</div>
	</form> <!-- dataset form -->
</div>
</div><!-- End-Card:Body -->
<div *ngIf="gifData" align="center">
		<div>
			<img src="assets/images/833.gif"/>
		</div>	
		<div style="margin-top: 0.7%;">
			<app-progressbar *ngIf="loading.loadNumberProgress" [value] = "loading.loadNumberProgress.progress" [state] = "loading.loadNumberProgress.state"></app-progressbar>
		</div>
		<hr>
	</div>
<hr *ngIf="nextNeu">


<mat-tab-group dynamicHeight mat-align-tabs="center" *ngIf="nextNeu">
	
	<mat-tab  *ngIf="correlationTrainHeaders || correlationTrainBody" label="{{correlationTrain[0][0]}}">
		<div class="container">
					<em *ngIf="!checktable">{{ 'RequiredTable.text' | translate}}</em>
					<table *ngIf="correlationTrainHeaders || correlationTrainBody" datatable [dtOptions]="dtOptions" id="table-train" class="row-border hover">
						<thead>
							
							<tr>
								<th *ngFor="let it of correlationTrainHeaders ; let j = index" >						
								<input  type="checkbox" [checked]="it.selected" #name value="{{it}}" name="{{it}}" id="{{it}}"
												(change)="OnCheckboxSelect(it, $event)" mdbInput/>&nbsp;{{it}}
								</th>	
							</tr>
							
						</thead>
						<tbody>						
							<tr *ngFor="let item of correlationTrainBody ; let i = index">
								<td *ngFor="let it of item ; let j = index">
											{{it}}
								</td>
							</tr>					
						</tbody>
						<tfoot>
							<tr>
								<th *ngFor="let it of correlationTrainHeaders ; let j = index">						
												{{it}}
								</th>	
							</tr>
						</tfoot>
					
					</table>

	</div>		
	<!-- <hr *ngIf="nextNeu"> -->
	</mat-tab>
	<mat-tab *ngIf="correlationTestHeaders || correlationTestBody" label="{{correlationTest[0][0]}}">
		<div class="container">
				<table *ngIf="correlationTestHeaders || correlationTestBody" datatable [dtOptions]="dtOptions" id="table-test" class="row-border hover">
					<thead>
						<tr>
									<th *ngFor="let it of correlationTestHeaders ; let j = index">
										{{it}}
									</th>
						</tr>
					</thead>
					<tbody>
								<tr *ngFor="let item of correlationTestBody ; let i = index">
									<td *ngFor="let it of item ; let j = index">
										{{it}}
									</td>
								</tr>
					</tbody>
					<tfoot>
							<tr>
								<th *ngFor="let it of correlationTestHeaders ; let j = index">						
												{{it}}
								</th>	
							</tr>
						</tfoot>
				</table>
			</div>
	</mat-tab>

</mat-tab-group>
<hr  *ngIf="!nextNeu">

<!-- <button *ngIf="nextNeu" [disabled]="!checktable" class="btn btn-secondary btn-lg" style="background-color: #4A4A4A;  float: left;"><a
		style="color: aliceblue;" (click)="this.networkcolumsCorreComponent.runningScriptsML();">Work the correlation index out</a></button>
 -->

<!-- <button  class="btn btn-secondary btn-lg workflowButton"><a
		style="color: aliceblue;" >Work the correlation index out</a></button> -->


<app-neuronalnetworkingcolumnsid-corre *ngIf="nextNeu" 
							[modelName]="modelName" 
							[uploadedFilesTrain]="uploadedFilesTrain" 
							[uploadedFilesTest]="uploadedFilesTest"
							[selectsIds]= "selectedIds"  
							[buttonCorreWorking] = "checktable" 
							[dateModelCreateModels] = "pipeDate"></app-neuronalnetworkingcolumnsid-corre>

